.lang-color-bg[srclang="1c enterprise"]{background-color:#814CCC;}
.lang-color-bg[srclang="2-dimensional array"]{background-color:#38761D;}
.lang-color-bg[srclang="4d"]{background-color:#004289;}
.lang-color-bg[srclang="abap"]{background-color:#E8274B;}
.lang-color-bg[srclang="abap cds"]{background-color:#555e25;}
.lang-color-bg[srclang="ags script"]{background-color:#B9D9FF;}
.lang-color-bg[srclang="ags"]{background-color:#B9D9FF;}
.lang-color-bg[srclang="aidl"]{background-color:#34EB6B;}
.lang-color-bg[srclang="al"]{background-color:#3AA2B5;}
.lang-color-bg[srclang="ampl"]{background-color:#E6EFBB;}
.lang-color-bg[srclang="antlr"]{background-color:#9DC3FF;}
.lang-color-bg[srclang="api blueprint"]{background-color:#2ACCA8;}
.lang-color-bg[srclang="apl"]{background-color:#5A8164;}
.lang-color-bg[srclang="asp.net"]{background-color:#9400ff;}
.lang-color-bg[srclang="aspx"]{background-color:#9400ff;}
.lang-color-bg[srclang="aspx-vb"]{background-color:#9400ff;}
.lang-color-bg[srclang="ats"]{background-color:#1ac620;}
.lang-color-bg[srclang="ats2"]{background-color:#1ac620;}
.lang-color-bg[srclang="actionscript"]{background-color:#882B0F;}
.lang-color-bg[srclang="actionscript 3"]{background-color:#882B0F;}
.lang-color-bg[srclang="actionscript3"]{background-color:#882B0F;}
.lang-color-bg[srclang="as3"]{background-color:#882B0F;}
.lang-color-bg[srclang="ada"]{background-color:#02f88c;}
.lang-color-bg[srclang="ada95"]{background-color:#02f88c;}
.lang-color-bg[srclang="ada2005"]{background-color:#02f88c;}
.lang-color-bg[srclang="adblock filter list"]{background-color:#800000;}
.lang-color-bg[srclang="ad block filters"]{background-color:#800000;}
.lang-color-bg[srclang="ad block"]{background-color:#800000;}
.lang-color-bg[srclang="adb"]{background-color:#800000;}
.lang-color-bg[srclang="adblock"]{background-color:#800000;}
.lang-color-bg[srclang="adobe font metrics"]{background-color:#fa0f00;}
.lang-color-bg[srclang="acfm"]{background-color:#fa0f00;}
.lang-color-bg[srclang="adobe composite font metrics"]{background-color:#fa0f00;}
.lang-color-bg[srclang="adobe multiple font metrics"]{background-color:#fa0f00;}
.lang-color-bg[srclang="amfm"]{background-color:#fa0f00;}
.lang-color-bg[srclang="agda"]{background-color:#315665;}
.lang-color-bg[srclang="alloy"]{background-color:#64C800;}
.lang-color-bg[srclang="alpine abuild"]{background-color:#0D597F;}
.lang-color-bg[srclang="abuild"]{background-color:#0D597F;}
.lang-color-bg[srclang="apkbuild"]{background-color:#0D597F;}
.lang-color-bg[srclang="altium designer"]{background-color:#A89663;}
.lang-color-bg[srclang="altium"]{background-color:#A89663;}
.lang-color-bg[srclang="angelscript"]{background-color:#C7D7DC;}
.lang-color-bg[srclang="ant build system"]{background-color:#A9157E;}
.lang-color-bg[srclang="antlers"]{background-color:#ff269e;}
.lang-color-bg[srclang="apacheconf"]{background-color:#d12127;}
.lang-color-bg[srclang="aconf"]{background-color:#d12127;}
.lang-color-bg[srclang="apache"]{background-color:#d12127;}
.lang-color-bg[srclang="apex"]{background-color:#1797c0;}
.lang-color-bg[srclang="apollo guidance computer"]{background-color:#0B3D91;}
.lang-color-bg[srclang="applescript"]{background-color:#101F1F;}
.lang-color-bg[srclang="osascript"]{background-color:#101F1F;}
.lang-color-bg[srclang="arc"]{background-color:#aa2afe;}
.lang-color-bg[srclang="asciidoc"]{background-color:#73a0c5;}
.lang-color-bg[srclang="aspectj"]{background-color:#a957b0;}
.lang-color-bg[srclang="assembly"]{background-color:#6E4C13;}
.lang-color-bg[srclang="asm"]{background-color:#6E4C13;}
.lang-color-bg[srclang="nasm"]{background-color:#6E4C13;}
.lang-color-bg[srclang="astro"]{background-color:#ff5a03;}
.lang-color-bg[srclang="asymptote"]{background-color:#ff0000;}
.lang-color-bg[srclang="augeas"]{background-color:#9CC134;}
.lang-color-bg[srclang="autohotkey"]{background-color:#6594b9;}
.lang-color-bg[srclang="ahk"]{background-color:#6594b9;}
.lang-color-bg[srclang="autoit"]{background-color:#1C3552;}
.lang-color-bg[srclang="au3"]{background-color:#1C3552;}
.lang-color-bg[srclang="AutoIt3"]{background-color:#1C3552;}
.lang-color-bg[srclang="AutoItScript"]{background-color:#1C3552;}
.lang-color-bg[srclang="avro idl"]{background-color:#0040FF;}
.lang-color-bg[srclang="awk"]{background-color:#c30e9b;}
.lang-color-bg[srclang="basic"]{background-color:#ff0000;}
.lang-color-bg[srclang="ballerina"]{background-color:#FF5000;}
.lang-color-bg[srclang="batchfile"]{background-color:#C1F12E;}
.lang-color-bg[srclang="bat"]{background-color:#C1F12E;}
.lang-color-bg[srclang="batch"]{background-color:#C1F12E;}
.lang-color-bg[srclang="dosbatch"]{background-color:#C1F12E;}
.lang-color-bg[srclang="winbatch"]{background-color:#C1F12E;}
.lang-color-bg[srclang="beef"]{background-color:#a52f4e;}
.lang-color-bg[srclang="berry"]{background-color:#15A13C;}
.lang-color-bg[srclang="be"]{background-color:#15A13C;}
.lang-color-bg[srclang="bibtex"]{background-color:#778899;}
.lang-color-bg[srclang="bicep"]{background-color:#519aba;}
.lang-color-bg[srclang="bikeshed"]{background-color:#5562ac;}
.lang-color-bg[srclang="bison"]{background-color:#6A463F;}
.lang-color-bg[srclang="bitbake"]{background-color:#00bce4;}
.lang-color-bg[srclang="blade"]{background-color:#f7523f;}
.lang-color-bg[srclang="blitzbasic"]{background-color:#00FFAE;}
.lang-color-bg[srclang="b3d"]{background-color:#00FFAE;}
.lang-color-bg[srclang="blitz3d"]{background-color:#00FFAE;}
.lang-color-bg[srclang="blitzplus"]{background-color:#00FFAE;}
.lang-color-bg[srclang="bplus"]{background-color:#00FFAE;}
.lang-color-bg[srclang="blitzmax"]{background-color:#cd6400;}
.lang-color-bg[srclang="bmax"]{background-color:#cd6400;}
.lang-color-bg[srclang="bluespec"]{background-color:#12223c;}
.lang-color-bg[srclang="boo"]{background-color:#d4bec1;}
.lang-color-bg[srclang="boogie"]{background-color:#c80fa0;}
.lang-color-bg[srclang="brainfuck"]{background-color:#2F2530;}
.lang-color-bg[srclang="brighterscript"]{background-color:#66AABB;}
.lang-color-bg[srclang="brightscript"]{background-color:#662D91;}
.lang-color-bg[srclang="browserslist"]{background-color:#ffd539;}
.lang-color-bg[srclang="c"]{background-color:#555555;}
.lang-color-bg[srclang="c#"]{background-color:#178600;}
.lang-color-bg[srclang="csharp"]{background-color:#178600;}
.lang-color-bg[srclang="cake"]{background-color:#178600;}
.lang-color-bg[srclang="cakescript"]{background-color:#178600;}
.lang-color-bg[srclang="c++"]{background-color:#f34b7d;}
.lang-color-bg[srclang="cpp"]{background-color:#f34b7d;}
.lang-color-bg[srclang="cap cds"]{background-color:#0092d1;}
.lang-color-bg[srclang="cds"]{background-color:#0092d1;}
.lang-color-bg[srclang="clips"]{background-color:#00A300;}
.lang-color-bg[srclang="cmake"]{background-color:#DA3434;}
.lang-color-bg[srclang="collada"]{background-color:#F1A42B;}
.lang-color-bg[srclang="cson"]{background-color:#244776;}
.lang-color-bg[srclang="css"]{background-color:#563d7c;}
.lang-color-bg[srclang="csv"]{background-color:#237346;}
.lang-color-bg[srclang="cue"]{background-color:#5886E1;}
.lang-color-bg[srclang="cweb"]{background-color:#00007a;}
.lang-color-bg[srclang="cabal config"]{background-color:#483465;}
.lang-color-bg[srclang="Cabal"]{background-color:#483465;}
.lang-color-bg[srclang="cadence"]{background-color:#00ef8b;}
.lang-color-bg[srclang="cairo"]{background-color:#ff4a48;}
.lang-color-bg[srclang="cameligo"]{background-color:#3be133;}
.lang-color-bg[srclang="cap'n proto"]{background-color:#c42727;}
.lang-color-bg[srclang="ceylon"]{background-color:#dfa535;}
.lang-color-bg[srclang="chapel"]{background-color:#8dc63f;}
.lang-color-bg[srclang="chpl"]{background-color:#8dc63f;}
.lang-color-bg[srclang="chuck"]{background-color:#3f8000;}
.lang-color-bg[srclang="circom"]{background-color:#707575;}
.lang-color-bg[srclang="cirru"]{background-color:#ccccff;}
.lang-color-bg[srclang="clarion"]{background-color:#db901e;}
.lang-color-bg[srclang="clarity"]{background-color:#5546ff;}
.lang-color-bg[srclang="classic asp"]{background-color:#6a40fd;}
.lang-color-bg[srclang="asp"]{background-color:#6a40fd;}
.lang-color-bg[srclang="clean"]{background-color:#3F85AF;}
.lang-color-bg[srclang="click"]{background-color:#E4E6F3;}
.lang-color-bg[srclang="clojure"]{background-color:#db5855;}
.lang-color-bg[srclang="closure templates"]{background-color:#0d948f;}
.lang-color-bg[srclang="soy"]{background-color:#0d948f;}
.lang-color-bg[srclang="cloud firestore security rules"]{background-color:#FFA000;}
.lang-color-bg[srclang="codeql"]{background-color:#140f46;}
.lang-color-bg[srclang="ql"]{background-color:#140f46;}
.lang-color-bg[srclang="coffeescript"]{background-color:#244776;}
.lang-color-bg[srclang="coffee"]{background-color:#244776;}
.lang-color-bg[srclang="coffee-script"]{background-color:#244776;}
.lang-color-bg[srclang="coldfusion"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="cfm"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="cfml"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="coldfusion html"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="coldfusion cfc"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="cfc"]{background-color:#ed2cd6;}
.lang-color-bg[srclang="common lisp"]{background-color:#3fb68b;}
.lang-color-bg[srclang="lisp"]{background-color:#3fb68b;}
.lang-color-bg[srclang="common workflow language"]{background-color:#B5314C;}
.lang-color-bg[srclang="cwl"]{background-color:#B5314C;}
.lang-color-bg[srclang="component pascal"]{background-color:#B0CE4E;}
.lang-color-bg[srclang="coq"]{background-color:#d0b68c;}
.lang-color-bg[srclang="crystal"]{background-color:#000100;}
.lang-color-bg[srclang="csound"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="csound-orc"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="csound document"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="csound-csd"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="csound score"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="csound-sco"]{background-color:#1a1a1a;}
.lang-color-bg[srclang="cuda"]{background-color:#3A4E3A;}
.lang-color-bg[srclang="curry"]{background-color:#531242;}
.lang-color-bg[srclang="cypher"]{background-color:#34c0eb;}
.lang-color-bg[srclang="cython"]{background-color:#fedf5b;}
.lang-color-bg[srclang="pyrex"]{background-color:#fedf5b;}
.lang-color-bg[srclang="d"]{background-color:#ba595e;}
.lang-color-bg[srclang="Dlang"]{background-color:#ba595e;}
.lang-color-bg[srclang="d2"]{background-color:#526ee8;}
.lang-color-bg[srclang="d2lang"]{background-color:#526ee8;}
.lang-color-bg[srclang="dm"]{background-color:#447265;}
.lang-color-bg[srclang="byond"]{background-color:#447265;}
.lang-color-bg[srclang="dafny"]{background-color:#FFEC25;}
.lang-color-bg[srclang="darcs patch"]{background-color:#8eff23;}
.lang-color-bg[srclang="dpatch"]{background-color:#8eff23;}
.lang-color-bg[srclang="dart"]{background-color:#00B4AB;}
.lang-color-bg[srclang="dataweave"]{background-color:#003a52;}
.lang-color-bg[srclang="debian package control file"]{background-color:#D70751;}
.lang-color-bg[srclang="denizenscript"]{background-color:#FBEE96;}
.lang-color-bg[srclang="dhall"]{background-color:#dfafff;}
.lang-color-bg[srclang="directx 3d file"]{background-color:#aace60;}
.lang-color-bg[srclang="dockerfile"]{background-color:#384d54;}
.lang-color-bg[srclang="Containerfile"]{background-color:#384d54;}
.lang-color-bg[srclang="dogescript"]{background-color:#cca760;}
.lang-color-bg[srclang="dotenv"]{background-color:#e5d559;}
.lang-color-bg[srclang="dylan"]{background-color:#6c616e;}
.lang-color-bg[srclang="e"]{background-color:#ccce35;}
.lang-color-bg[srclang="ecl"]{background-color:#8a1267;}
.lang-color-bg[srclang="eclipse"]{background-color:#001d9d;}
.lang-color-bg[srclang="ejs"]{background-color:#a91e50;}
.lang-color-bg[srclang="eq"]{background-color:#a78649;}
.lang-color-bg[srclang="earthly"]{background-color:#2af0ff;}
.lang-color-bg[srclang="Earthfile"]{background-color:#2af0ff;}
.lang-color-bg[srclang="easybuild"]{background-color:#069406;}
.lang-color-bg[srclang="ecere projects"]{background-color:#913960;}
.lang-color-bg[srclang="ecmarkup"]{background-color:#eb8131;}
.lang-color-bg[srclang="ecmarkdown"]{background-color:#eb8131;}
.lang-color-bg[srclang="editorconfig"]{background-color:#fff1f2;}
.lang-color-bg[srclang="editor-config"]{background-color:#fff1f2;}
.lang-color-bg[srclang="eiffel"]{background-color:#4d6977;}
.lang-color-bg[srclang="elixir"]{background-color:#6e4a7e;}
.lang-color-bg[srclang="elm"]{background-color:#60B5CC;}
.lang-color-bg[srclang="elvish"]{background-color:#55BB55;}
.lang-color-bg[srclang="elvish transcript"]{background-color:#55BB55;}
.lang-color-bg[srclang="emacs lisp"]{background-color:#c065db;}
.lang-color-bg[srclang="elisp"]{background-color:#c065db;}
.lang-color-bg[srclang="emacs"]{background-color:#c065db;}
.lang-color-bg[srclang="emberscript"]{background-color:#FFF4F3;}
.lang-color-bg[srclang="erlang"]{background-color:#B83998;}
.lang-color-bg[srclang="euphoria"]{background-color:#FF790B;}
.lang-color-bg[srclang="f#"]{background-color:#b845fc;}
.lang-color-bg[srclang="fsharp"]{background-color:#b845fc;}
.lang-color-bg[srclang="f*"]{background-color:#572e30;}
.lang-color-bg[srclang="fstar"]{background-color:#572e30;}
.lang-color-bg[srclang="figlet font"]{background-color:#FFDDBB;}
.lang-color-bg[srclang="FIGfont"]{background-color:#FFDDBB;}
.lang-color-bg[srclang="flux"]{background-color:#88ccff;}
.lang-color-bg[srclang="factor"]{background-color:#636746;}
.lang-color-bg[srclang="fancy"]{background-color:#7b9db4;}
.lang-color-bg[srclang="fantom"]{background-color:#14253c;}
.lang-color-bg[srclang="faust"]{background-color:#c37240;}
.lang-color-bg[srclang="fennel"]{background-color:#fff3d7;}
.lang-color-bg[srclang="filebench wml"]{background-color:#F6B900;}
.lang-color-bg[srclang="fluent"]{background-color:#ffcc33;}
.lang-color-bg[srclang="forth"]{background-color:#341708;}
.lang-color-bg[srclang="fortran"]{background-color:#4d41b1;}
.lang-color-bg[srclang="fortran free form"]{background-color:#4d41b1;}
.lang-color-bg[srclang="freebasic"]{background-color:#141AC9;}
.lang-color-bg[srclang="fb"]{background-color:#141AC9;}
.lang-color-bg[srclang="freemarker"]{background-color:#0050b2;}
.lang-color-bg[srclang="ftl"]{background-color:#0050b2;}
.lang-color-bg[srclang="frege"]{background-color:#00cafe;}
.lang-color-bg[srclang="futhark"]{background-color:#5f021f;}
.lang-color-bg[srclang="g-code"]{background-color:#D08CF2;}
.lang-color-bg[srclang="gaml"]{background-color:#FFC766;}
.lang-color-bg[srclang="gams"]{background-color:#f49a22;}
.lang-color-bg[srclang="gap"]{background-color:#0000cc;}
.lang-color-bg[srclang="gcc machine description"]{background-color:#FFCFAB;}
.lang-color-bg[srclang="gdscript"]{background-color:#355570;}
.lang-color-bg[srclang="gedcom"]{background-color:#003058;}
.lang-color-bg[srclang="glsl"]{background-color:#5686a5;}
.lang-color-bg[srclang="gsc"]{background-color:#FF6800;}
.lang-color-bg[srclang="game maker language"]{background-color:#71b417;}
.lang-color-bg[srclang="gemfile.lock"]{background-color:#701516;}
.lang-color-bg[srclang="gemini"]{background-color:#ff6900;}
.lang-color-bg[srclang="gemtext"]{background-color:#ff6900;}
.lang-color-bg[srclang="genero"]{background-color:#63408e;}
.lang-color-bg[srclang="genero forms"]{background-color:#d8df39;}
.lang-color-bg[srclang="genie"]{background-color:#fb855d;}
.lang-color-bg[srclang="genshi"]{background-color:#951531;}
.lang-color-bg[srclang="xml+genshi"]{background-color:#951531;}
.lang-color-bg[srclang="xml+kid"]{background-color:#951531;}
.lang-color-bg[srclang="gentoo ebuild"]{background-color:#9400ff;}
.lang-color-bg[srclang="gentoo eclass"]{background-color:#9400ff;}
.lang-color-bg[srclang="gerber image"]{background-color:#d20b00;}
.lang-color-bg[srclang="rs-274x"]{background-color:#d20b00;}
.lang-color-bg[srclang="gherkin"]{background-color:#5B2063;}
.lang-color-bg[srclang="cucumber"]{background-color:#5B2063;}
.lang-color-bg[srclang="git attributes"]{background-color:#F44D27;}
.lang-color-bg[srclang="gitattributes"]{background-color:#F44D27;}
.lang-color-bg[srclang="git config"]{background-color:#F44D27;}
.lang-color-bg[srclang="gitconfig"]{background-color:#F44D27;}
.lang-color-bg[srclang="gitmodules"]{background-color:#F44D27;}
.lang-color-bg[srclang="git revision list"]{background-color:#F44D27;}
.lang-color-bg[srclang="Git Blame Ignore Revs"]{background-color:#F44D27;}
.lang-color-bg[srclang="gleam"]{background-color:#ffaff3;}
.lang-color-bg[srclang="glyph"]{background-color:#c1ac7f;}
.lang-color-bg[srclang="gnuplot"]{background-color:#f0a9f0;}
.lang-color-bg[srclang="go"]{background-color:#00ADD8;}
.lang-color-bg[srclang="golang"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go checksums"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go.sum"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go sum"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go.work.sum"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go work sum"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go module"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go.mod"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go mod"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go workspace"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go.work"]{background-color:#00ADD8;}
.lang-color-bg[srclang="go work"]{background-color:#00ADD8;}
.lang-color-bg[srclang="godot resource"]{background-color:#355570;}
.lang-color-bg[srclang="golo"]{background-color:#88562A;}
.lang-color-bg[srclang="gosu"]{background-color:#82937f;}
.lang-color-bg[srclang="grace"]{background-color:#615f8b;}
.lang-color-bg[srclang="gradle"]{background-color:#02303a;}
.lang-color-bg[srclang="grammatical framework"]{background-color:#ff0000;}
.lang-color-bg[srclang="gf"]{background-color:#ff0000;}
.lang-color-bg[srclang="graphql"]{background-color:#e10098;}
.lang-color-bg[srclang="graphviz (dot)"]{background-color:#2596be;}
.lang-color-bg[srclang="groovy"]{background-color:#4298b8;}
.lang-color-bg[srclang="groovy server pages"]{background-color:#4298b8;}
.lang-color-bg[srclang="gsp"]{background-color:#4298b8;}
.lang-color-bg[srclang="java server page"]{background-color:#4298b8;}
.lang-color-bg[srclang="haproxy"]{background-color:#106da9;}
.lang-color-bg[srclang="hcl"]{background-color:#844FBA;}
.lang-color-bg[srclang="HashiCorp Configuration Language"]{background-color:#844FBA;}
.lang-color-bg[srclang="terraform"]{background-color:#844FBA;}
.lang-color-bg[srclang="hlsl"]{background-color:#aace60;}
.lang-color-bg[srclang="hocon"]{background-color:#9ff8ee;}
.lang-color-bg[srclang="html"]{background-color:#e34c26;}
.lang-color-bg[srclang="xhtml"]{background-color:#e34c26;}
.lang-color-bg[srclang="html+ecr"]{background-color:#2e1052;}
.lang-color-bg[srclang="ecr"]{background-color:#2e1052;}
.lang-color-bg[srclang="html+eex"]{background-color:#6e4a7e;}
.lang-color-bg[srclang="eex"]{background-color:#6e4a7e;}
.lang-color-bg[srclang="heex"]{background-color:#6e4a7e;}
.lang-color-bg[srclang="leex"]{background-color:#6e4a7e;}
.lang-color-bg[srclang="html+erb"]{background-color:#701516;}
.lang-color-bg[srclang="erb"]{background-color:#701516;}
.lang-color-bg[srclang="rhtml"]{background-color:#701516;}
.lang-color-bg[srclang="html+ruby"]{background-color:#701516;}
.lang-color-bg[srclang="html+php"]{background-color:#4f5d95;}
.lang-color-bg[srclang="html+razor"]{background-color:#512be4;}
.lang-color-bg[srclang="razor"]{background-color:#512be4;}
.lang-color-bg[srclang="http"]{background-color:#005C9C;}
.lang-color-bg[srclang="hxml"]{background-color:#f68712;}
.lang-color-bg[srclang="hack"]{background-color:#878787;}
.lang-color-bg[srclang="haml"]{background-color:#ece2a9;}
.lang-color-bg[srclang="handlebars"]{background-color:#f7931e;}
.lang-color-bg[srclang="hbs"]{background-color:#f7931e;}
.lang-color-bg[srclang="htmlbars"]{background-color:#f7931e;}
.lang-color-bg[srclang="harbour"]{background-color:#0e60e3;}
.lang-color-bg[srclang="haskell"]{background-color:#5e5086;}
.lang-color-bg[srclang="haxe"]{background-color:#df7900;}
.lang-color-bg[srclang="hiveql"]{background-color:#dce200;}
.lang-color-bg[srclang="holyc"]{background-color:#ffefaf;}
.lang-color-bg[srclang="hosts file"]{background-color:#308888;}
.lang-color-bg[srclang="hy"]{background-color:#7790B2;}
.lang-color-bg[srclang="hylang"]{background-color:#7790B2;}
.lang-color-bg[srclang="idl"]{background-color:#a3522f;}
.lang-color-bg[srclang="igor pro"]{background-color:#0000cc;}
.lang-color-bg[srclang="igor"]{background-color:#0000cc;}
.lang-color-bg[srclang="igorpro"]{background-color:#0000cc;}
.lang-color-bg[srclang="ini"]{background-color:#d1dbe0;}
.lang-color-bg[srclang="dosini"]{background-color:#d1dbe0;}
.lang-color-bg[srclang="idris"]{background-color:#b30000;}
.lang-color-bg[srclang="ignore list"]{background-color:#000000;}
.lang-color-bg[srclang="ignore"]{background-color:#000000;}
.lang-color-bg[srclang="gitignore"]{background-color:#000000;}
.lang-color-bg[srclang="git-ignore"]{background-color:#000000;}
.lang-color-bg[srclang="imagej macro"]{background-color:#99AAFF;}
.lang-color-bg[srclang="ijm"]{background-color:#99AAFF;}
.lang-color-bg[srclang="imba"]{background-color:#16cec6;}
.lang-color-bg[srclang="inno setup"]{background-color:#264b99;}
.lang-color-bg[srclang="io"]{background-color:#a9188d;}
.lang-color-bg[srclang="ioke"]{background-color:#078193;}
.lang-color-bg[srclang="isabelle"]{background-color:#FEFE00;}
.lang-color-bg[srclang="isabelle root"]{background-color:#FEFE00;}
.lang-color-bg[srclang="j"]{background-color:#9EEDFF;}
.lang-color-bg[srclang="jar manifest"]{background-color:#b07219;}
.lang-color-bg[srclang="jcl"]{background-color:#d90e09;}
.lang-color-bg[srclang="jflex"]{background-color:#DBCA00;}
.lang-color-bg[srclang="json"]{background-color:#292929;}
.lang-color-bg[srclang="geojson"]{background-color:#292929;}
.lang-color-bg[srclang="jsonl"]{background-color:#292929;}
.lang-color-bg[srclang="topojson"]{background-color:#292929;}
.lang-color-bg[srclang="json with comments"]{background-color:#292929;}
.lang-color-bg[srclang="jsonc"]{background-color:#292929;}
.lang-color-bg[srclang="json5"]{background-color:#267CB9;}
.lang-color-bg[srclang="jsonld"]{background-color:#0c479c;}
.lang-color-bg[srclang="jsoniq"]{background-color:#40d47e;}
.lang-color-bg[srclang="janet"]{background-color:#0886a5;}
.lang-color-bg[srclang="jasmin"]{background-color:#d03600;}
.lang-color-bg[srclang="java"]{background-color:#b07219;}
.lang-color-bg[srclang="java properties"]{background-color:#2A6277;}
.lang-color-bg[srclang="java server pages"]{background-color:#2A6277;}
.lang-color-bg[srclang="jsp"]{background-color:#2A6277;}
.lang-color-bg[srclang="javascript"]{background-color:#f1e05a;}
.lang-color-bg[srclang="js"]{background-color:#f1e05a;}
.lang-color-bg[srclang="node"]{background-color:#f1e05a;}
.lang-color-bg[srclang="javascript+erb"]{background-color:#f1e05a;}
.lang-color-bg[srclang="jest snapshot"]{background-color:#15c213;}
.lang-color-bg[srclang="jetbrains mps"]{background-color:#21D789;}
.lang-color-bg[srclang="mps"]{background-color:#21D789;}
.lang-color-bg[srclang="jinja"]{background-color:#a52a22;}
.lang-color-bg[srclang="django"]{background-color:#a52a22;}
.lang-color-bg[srclang="html+django"]{background-color:#a52a22;}
.lang-color-bg[srclang="html+jinja"]{background-color:#a52a22;}
.lang-color-bg[srclang="htmldjango"]{background-color:#a52a22;}
.lang-color-bg[srclang="jison"]{background-color:#56b3cb;}
.lang-color-bg[srclang="jison lex"]{background-color:#56b3cb;}
.lang-color-bg[srclang="jolie"]{background-color:#843179;}
.lang-color-bg[srclang="jsonnet"]{background-color:#0064bd;}
.lang-color-bg[srclang="julia"]{background-color:#a270ba;}
.lang-color-bg[srclang="jupyter notebook"]{background-color:#DA5B0B;}
.lang-color-bg[srclang="IPython Notebook"]{background-color:#DA5B0B;}
.lang-color-bg[srclang="just"]{background-color:#384d54;}
.lang-color-bg[srclang="Justfile"]{background-color:#384d54;}
.lang-color-bg[srclang="krl"]{background-color:#28430A;}
.lang-color-bg[srclang="kaitai struct"]{background-color:#773b37;}
.lang-color-bg[srclang="ksy"]{background-color:#773b37;}
.lang-color-bg[srclang="kakounescript"]{background-color:#6f8042;}
.lang-color-bg[srclang="kak"]{background-color:#6f8042;}
.lang-color-bg[srclang="kakscript"]{background-color:#6f8042;}
.lang-color-bg[srclang="kerboscript"]{background-color:#41adf0;}
.lang-color-bg[srclang="kicad layout"]{background-color:#2f4aab;}
.lang-color-bg[srclang="pcbnew"]{background-color:#2f4aab;}
.lang-color-bg[srclang="kicad legacy layout"]{background-color:#2f4aab;}
.lang-color-bg[srclang="kicad schematic"]{background-color:#2f4aab;}
.lang-color-bg[srclang="eeschema schematic"]{background-color:#2f4aab;}
.lang-color-bg[srclang="kotlin"]{background-color:#A97BFF;}
.lang-color-bg[srclang="lfe"]{background-color:#4C3023;}
.lang-color-bg[srclang="llvm"]{background-color:#185619;}
.lang-color-bg[srclang="lolcode"]{background-color:#cc9900;}
.lang-color-bg[srclang="lsl"]{background-color:#3d9970;}
.lang-color-bg[srclang="labview"]{background-color:#fede06;}
.lang-color-bg[srclang="lark"]{background-color:#2980B9;}
.lang-color-bg[srclang="lasso"]{background-color:#999999;}
.lang-color-bg[srclang="lassoscript"]{background-color:#999999;}
.lang-color-bg[srclang="latte"]{background-color:#f2a542;}
.lang-color-bg[srclang="less"]{background-color:#1d365d;}
.lang-color-bg[srclang="less-css"]{background-color:#1d365d;}
.lang-color-bg[srclang="lex"]{background-color:#DBCA00;}
.lang-color-bg[srclang="flex"]{background-color:#DBCA00;}
.lang-color-bg[srclang="ligolang"]{background-color:#0e74ff;}
.lang-color-bg[srclang="lilypond"]{background-color:#9ccc7c;}
.lang-color-bg[srclang="liquid"]{background-color:#67b8de;}
.lang-color-bg[srclang="literate agda"]{background-color:#315665;}
.lang-color-bg[srclang="literate coffeescript"]{background-color:#244776;}
.lang-color-bg[srclang="litcoffee"]{background-color:#244776;}
.lang-color-bg[srclang="literate haskell"]{background-color:#5e5086;}
.lang-color-bg[srclang="lhaskell"]{background-color:#5e5086;}
.lang-color-bg[srclang="lhs"]{background-color:#5e5086;}
.lang-color-bg[srclang="livescript"]{background-color:#499886;}
.lang-color-bg[srclang="live-script"]{background-color:#499886;}
.lang-color-bg[srclang="ls"]{background-color:#499886;}
.lang-color-bg[srclang="logtalk"]{background-color:#295b9a;}
.lang-color-bg[srclang="lookml"]{background-color:#652B81;}
.lang-color-bg[srclang="lua"]{background-color:#000080;}
.lang-color-bg[srclang="matlab"]{background-color:#e16737;}
.lang-color-bg[srclang="octave"]{background-color:#e16737;}
.lang-color-bg[srclang="maxscript"]{background-color:#00a6a6;}
.lang-color-bg[srclang="mdx"]{background-color:#fcb32c;}
.lang-color-bg[srclang="mlir"]{background-color:#5EC8DB;}
.lang-color-bg[srclang="mql4"]{background-color:#62A8D6;}
.lang-color-bg[srclang="mql5"]{background-color:#4A76B8;}
.lang-color-bg[srclang="mtml"]{background-color:#b7e1f4;}
.lang-color-bg[srclang="macaulay2"]{background-color:#d8ffff;}
.lang-color-bg[srclang="m2"]{background-color:#d8ffff;}
.lang-color-bg[srclang="makefile"]{background-color:#427819;}
.lang-color-bg[srclang="bsdmake"]{background-color:#427819;}
.lang-color-bg[srclang="make"]{background-color:#427819;}
.lang-color-bg[srclang="mf"]{background-color:#427819;}
.lang-color-bg[srclang="mako"]{background-color:#7e858d;}
.lang-color-bg[srclang="markdown"]{background-color:#083fa1;}
.lang-color-bg[srclang="md"]{background-color:#083fa1;}
.lang-color-bg[srclang="pandoc"]{background-color:#083fa1;}
.lang-color-bg[srclang="marko"]{background-color:#42bff2;}
.lang-color-bg[srclang="markojs"]{background-color:#42bff2;}
.lang-color-bg[srclang="mask"]{background-color:#f97732;}
.lang-color-bg[srclang="mathematica"]{background-color:#dd1100;}
.lang-color-bg[srclang="mma"]{background-color:#dd1100;}
.lang-color-bg[srclang="wolfram"]{background-color:#dd1100;}
.lang-color-bg[srclang="wolfram language"]{background-color:#dd1100;}
.lang-color-bg[srclang="wolfram lang"]{background-color:#dd1100;}
.lang-color-bg[srclang="wl"]{background-color:#dd1100;}
.lang-color-bg[srclang="max"]{background-color:#c4a79c;}
.lang-color-bg[srclang="max/msp"]{background-color:#c4a79c;}
.lang-color-bg[srclang="maxmsp"]{background-color:#c4a79c;}
.lang-color-bg[srclang="mercury"]{background-color:#ff2b2b;}
.lang-color-bg[srclang="mermaid"]{background-color:#ff3670;}
.lang-color-bg[srclang="mermaid example"]{background-color:#ff3670;}
.lang-color-bg[srclang="meson"]{background-color:#007800;}
.lang-color-bg[srclang="metal"]{background-color:#8f14e9;}
.lang-color-bg[srclang="miniyaml"]{background-color:#ff1111;}
.lang-color-bg[srclang="mint"]{background-color:#02b046;}
.lang-color-bg[srclang="mirah"]{background-color:#c7a938;}
.lang-color-bg[srclang="modelica"]{background-color:#de1d31;}
.lang-color-bg[srclang="modula-2"]{background-color:#10253f;}
.lang-color-bg[srclang="modula-3"]{background-color:#223388;}
.lang-color-bg[srclang="monkey c"]{background-color:#8D6747;}
.lang-color-bg[srclang="moonscript"]{background-color:#ff4585;}
.lang-color-bg[srclang="motoko"]{background-color:#fbb03b;}
.lang-color-bg[srclang="motorola 68k assembly"]{background-color:#005daa;}
.lang-color-bg[srclang="m68k"]{background-color:#005daa;}
.lang-color-bg[srclang="move"]{background-color:#4a137a;}
.lang-color-bg[srclang="mustache"]{background-color:#724b3b;}
.lang-color-bg[srclang="ncl"]{background-color:#28431f;}
.lang-color-bg[srclang="npm config"]{background-color:#cb3837;}
.lang-color-bg[srclang="npmrc"]{background-color:#cb3837;}
.lang-color-bg[srclang="nwscript"]{background-color:#111522;}
.lang-color-bg[srclang="nasal"]{background-color:#1d2c4e;}
.lang-color-bg[srclang="nearley"]{background-color:#990000;}
.lang-color-bg[srclang="nemerle"]{background-color:#3d3c6e;}
.lang-color-bg[srclang="netlinx"]{background-color:#0aa0ff;}
.lang-color-bg[srclang="netlinx+erb"]{background-color:#747faa;}
.lang-color-bg[srclang="netlogo"]{background-color:#ff6375;}
.lang-color-bg[srclang="newlisp"]{background-color:#87AED7;}
.lang-color-bg[srclang="nextflow"]{background-color:#3ac486;}
.lang-color-bg[srclang="nginx"]{background-color:#009639;}
.lang-color-bg[srclang="nginx configuration file"]{background-color:#009639;}
.lang-color-bg[srclang="nim"]{background-color:#ffc200;}
.lang-color-bg[srclang="nit"]{background-color:#009917;}
.lang-color-bg[srclang="nix"]{background-color:#7e7eff;}
.lang-color-bg[srclang="nixos"]{background-color:#7e7eff;}
.lang-color-bg[srclang="nu"]{background-color:#c9df40;}
.lang-color-bg[srclang="nush"]{background-color:#c9df40;}
.lang-color-bg[srclang="numpy"]{background-color:#9C8AF9;}
.lang-color-bg[srclang="nunjucks"]{background-color:#3d8137;}
.lang-color-bg[srclang="njk"]{background-color:#3d8137;}
.lang-color-bg[srclang="nushell"]{background-color:#4E9906;}
.lang-color-bg[srclang="nu-script"]{background-color:#4E9906;}
.lang-color-bg[srclang="nushell-script"]{background-color:#4E9906;}
.lang-color-bg[srclang="oasv2-json"]{background-color:#85ea2d;}
.lang-color-bg[srclang="oasv2-yaml"]{background-color:#85ea2d;}
.lang-color-bg[srclang="oasv3-json"]{background-color:#85ea2d;}
.lang-color-bg[srclang="oasv3-yaml"]{background-color:#85ea2d;}
.lang-color-bg[srclang="ocaml"]{background-color:#ef7a08;}
.lang-color-bg[srclang="objectscript"]{background-color:#424893;}
.lang-color-bg[srclang="objective-c"]{background-color:#438eff;}
.lang-color-bg[srclang="obj-c"]{background-color:#438eff;}
.lang-color-bg[srclang="objc"]{background-color:#438eff;}
.lang-color-bg[srclang="objectivec"]{background-color:#438eff;}
.lang-color-bg[srclang="objective-c++"]{background-color:#6866fb;}
.lang-color-bg[srclang="obj-c++"]{background-color:#6866fb;}
.lang-color-bg[srclang="objc++"]{background-color:#6866fb;}
.lang-color-bg[srclang="objectivec++"]{background-color:#6866fb;}
.lang-color-bg[srclang="objective-j"]{background-color:#ff0c5a;}
.lang-color-bg[srclang="obj-j"]{background-color:#ff0c5a;}
.lang-color-bg[srclang="objectivej"]{background-color:#ff0c5a;}
.lang-color-bg[srclang="objj"]{background-color:#ff0c5a;}
.lang-color-bg[srclang="odin"]{background-color:#60AFFE;}
.lang-color-bg[srclang="odinlang"]{background-color:#60AFFE;}
.lang-color-bg[srclang="odin-lang"]{background-color:#60AFFE;}
.lang-color-bg[srclang="omgrofl"]{background-color:#cabbff;}
.lang-color-bg[srclang="opal"]{background-color:#f7ede0;}
.lang-color-bg[srclang="open policy agent"]{background-color:#7d9199;}
.lang-color-bg[srclang="openapi specification v2"]{background-color:#85ea2d;}
.lang-color-bg[srclang="oasv2"]{background-color:#85ea2d;}
.lang-color-bg[srclang="openapi specification v3"]{background-color:#85ea2d;}
.lang-color-bg[srclang="oasv3"]{background-color:#85ea2d;}
.lang-color-bg[srclang="opencl"]{background-color:#ed2e2d;}
.lang-color-bg[srclang="openedge abl"]{background-color:#5ce600;}
.lang-color-bg[srclang="progress"]{background-color:#5ce600;}
.lang-color-bg[srclang="openedge"]{background-color:#5ce600;}
.lang-color-bg[srclang="abl"]{background-color:#5ce600;}
.lang-color-bg[srclang="openqasm"]{background-color:#AA70FF;}
.lang-color-bg[srclang="openscad"]{background-color:#e5cd45;}
.lang-color-bg[srclang="option list"]{background-color:#476732;}
.lang-color-bg[srclang="opts"]{background-color:#476732;}
.lang-color-bg[srclang="ackrc"]{background-color:#476732;}
.lang-color-bg[srclang="org"]{background-color:#77aa99;}
.lang-color-bg[srclang="oxygene"]{background-color:#cdd0e3;}
.lang-color-bg[srclang="oz"]{background-color:#fab738;}
.lang-color-bg[srclang="p4"]{background-color:#7055b5;}
.lang-color-bg[srclang="pddl"]{background-color:#0d00ff;}
.lang-color-bg[srclang="peg.js"]{background-color:#234d6b;}
.lang-color-bg[srclang="php"]{background-color:#4F5D95;}
.lang-color-bg[srclang="inc"]{background-color:#4F5D95;}
.lang-color-bg[srclang="plsql"]{background-color:#dad8d8;}
.lang-color-bg[srclang="plpgsql"]{background-color:#336790;}
.lang-color-bg[srclang="pov-ray sdl"]{background-color:#6bac65;}
.lang-color-bg[srclang="pov-ray"]{background-color:#6bac65;}
.lang-color-bg[srclang="povray"]{background-color:#6bac65;}
.lang-color-bg[srclang="pact"]{background-color:#F7A8B8;}
.lang-color-bg[srclang="pan"]{background-color:#cc0000;}
.lang-color-bg[srclang="papyrus"]{background-color:#6600cc;}
.lang-color-bg[srclang="parrot"]{background-color:#f3ca0a;}
.lang-color-bg[srclang="pascal"]{background-color:#E3F171;}
.lang-color-bg[srclang="delphi"]{background-color:#E3F171;}
.lang-color-bg[srclang="objectpascal"]{background-color:#E3F171;}
.lang-color-bg[srclang="pawn"]{background-color:#dbb284;}
.lang-color-bg[srclang="pep8"]{background-color:#C76F5B;}
.lang-color-bg[srclang="perl"]{background-color:#0298c3;}
.lang-color-bg[srclang="cperl"]{background-color:#0298c3;}
.lang-color-bg[srclang="picolisp"]{background-color:#6067af;}
.lang-color-bg[srclang="piglatin"]{background-color:#fcd7de;}
.lang-color-bg[srclang="pike"]{background-color:#005390;}
.lang-color-bg[srclang="plantuml"]{background-color:#fbbd16;}
.lang-color-bg[srclang="pogoscript"]{background-color:#d80074;}
.lang-color-bg[srclang="polar"]{background-color:#ae81ff;}
.lang-color-bg[srclang="portugol"]{background-color:#f8bd00;}
.lang-color-bg[srclang="postcss"]{background-color:#dc3a0c;}
.lang-color-bg[srclang="postscript"]{background-color:#da291c;}
.lang-color-bg[srclang="postscr"]{background-color:#da291c;}
.lang-color-bg[srclang="powerbuilder"]{background-color:#8f0f8d;}
.lang-color-bg[srclang="powershell"]{background-color:#012456;}
.lang-color-bg[srclang="posh"]{background-color:#012456;}
.lang-color-bg[srclang="pwsh"]{background-color:#012456;}
.lang-color-bg[srclang="prisma"]{background-color:#0c344b;}
.lang-color-bg[srclang="processing"]{background-color:#0096D8;}
.lang-color-bg[srclang="procfile"]{background-color:#3B2F63;}
.lang-color-bg[srclang="prolog"]{background-color:#74283c;}
.lang-color-bg[srclang="promela"]{background-color:#de0000;}
.lang-color-bg[srclang="propeller spin"]{background-color:#7fa2a7;}
.lang-color-bg[srclang="pug"]{background-color:#a86454;}
.lang-color-bg[srclang="puppet"]{background-color:#302B6D;}
.lang-color-bg[srclang="purebasic"]{background-color:#5a6986;}
.lang-color-bg[srclang="purescript"]{background-color:#1D222D;}
.lang-color-bg[srclang="pyret"]{background-color:#ee1e10;}
.lang-color-bg[srclang="python"]{background-color:#3572A5;}
.lang-color-bg[srclang="python3"]{background-color:#3572A5;}
.lang-color-bg[srclang="rusthon"]{background-color:#3572A5;}
.lang-color-bg[srclang="python console"]{background-color:#3572A5;}
.lang-color-bg[srclang="pycon"]{background-color:#3572A5;}
.lang-color-bg[srclang="python traceback"]{background-color:#3572A5;}
.lang-color-bg[srclang="q#"]{background-color:#fed659;}
.lang-color-bg[srclang="qsharp"]{background-color:#fed659;}
.lang-color-bg[srclang="qml"]{background-color:#44a51c;}
.lang-color-bg[srclang="qt script"]{background-color:#00b841;}
.lang-color-bg[srclang="quake"]{background-color:#882233;}
.lang-color-bg[srclang="r"]{background-color:#198CE7;}
.lang-color-bg[srclang="R"]{background-color:#198CE7;}
.lang-color-bg[srclang="Rscript"]{background-color:#198CE7;}
.lang-color-bg[srclang="splus"]{background-color:#198CE7;}
.lang-color-bg[srclang="raml"]{background-color:#77d9fb;}
.lang-color-bg[srclang="rbs"]{background-color:#701516;}
.lang-color-bg[srclang="rdoc"]{background-color:#701516;}
.lang-color-bg[srclang="rexx"]{background-color:#d90e09;}
.lang-color-bg[srclang="arexx"]{background-color:#d90e09;}
.lang-color-bg[srclang="rmarkdown"]{background-color:#198ce7;}
.lang-color-bg[srclang="rpgle"]{background-color:#2BDE21;}
.lang-color-bg[srclang="ile rpg"]{background-color:#2BDE21;}
.lang-color-bg[srclang="sqlrpgle"]{background-color:#2BDE21;}
.lang-color-bg[srclang="runoff"]{background-color:#665a4e;}
.lang-color-bg[srclang="racket"]{background-color:#3c5caa;}
.lang-color-bg[srclang="ragel"]{background-color:#9d5200;}
.lang-color-bg[srclang="ragel-rb"]{background-color:#9d5200;}
.lang-color-bg[srclang="ragel-ruby"]{background-color:#9d5200;}
.lang-color-bg[srclang="raku"]{background-color:#0000fb;}
.lang-color-bg[srclang="perl6"]{background-color:#0000fb;}
.lang-color-bg[srclang="perl-6"]{background-color:#0000fb;}
.lang-color-bg[srclang="rascal"]{background-color:#fffaa0;}
.lang-color-bg[srclang="rescript"]{background-color:#ed5051;}
.lang-color-bg[srclang="reason"]{background-color:#ff5847;}
.lang-color-bg[srclang="reasonligo"]{background-color:#ff5847;}
.lang-color-bg[srclang="rebol"]{background-color:#358a5b;}
.lang-color-bg[srclang="record jar"]{background-color:#0673ba;}
.lang-color-bg[srclang="red"]{background-color:#f50000;}
.lang-color-bg[srclang="red/system"]{background-color:#f50000;}
.lang-color-bg[srclang="regular expression"]{background-color:#009a00;}
.lang-color-bg[srclang="regexp"]{background-color:#009a00;}
.lang-color-bg[srclang="regex"]{background-color:#009a00;}
.lang-color-bg[srclang="ren'py"]{background-color:#ff7f7f;}
.lang-color-bg[srclang="renpy"]{background-color:#ff7f7f;}
.lang-color-bg[srclang="ring"]{background-color:#2D54CB;}
.lang-color-bg[srclang="riot"]{background-color:#A71E49;}
.lang-color-bg[srclang="robotframework"]{background-color:#00c0b5;}
.lang-color-bg[srclang="roff"]{background-color:#ecdebe;}
.lang-color-bg[srclang="groff"]{background-color:#ecdebe;}
.lang-color-bg[srclang="man"]{background-color:#ecdebe;}
.lang-color-bg[srclang="manpage"]{background-color:#ecdebe;}
.lang-color-bg[srclang="man page"]{background-color:#ecdebe;}
.lang-color-bg[srclang="man-page"]{background-color:#ecdebe;}
.lang-color-bg[srclang="mdoc"]{background-color:#ecdebe;}
.lang-color-bg[srclang="nroff"]{background-color:#ecdebe;}
.lang-color-bg[srclang="troff"]{background-color:#ecdebe;}
.lang-color-bg[srclang="roff manpage"]{background-color:#ecdebe;}
.lang-color-bg[srclang="rouge"]{background-color:#cc0088;}
.lang-color-bg[srclang="routeros script"]{background-color:#DE3941;}
.lang-color-bg[srclang="ruby"]{background-color:#701516;}
.lang-color-bg[srclang="jruby"]{background-color:#701516;}
.lang-color-bg[srclang="macruby"]{background-color:#701516;}
.lang-color-bg[srclang="rake"]{background-color:#701516;}
.lang-color-bg[srclang="rb"]{background-color:#701516;}
.lang-color-bg[srclang="rbx"]{background-color:#701516;}
.lang-color-bg[srclang="rust"]{background-color:#dea584;}
.lang-color-bg[srclang="rs"]{background-color:#dea584;}
.lang-color-bg[srclang="sas"]{background-color:#B34936;}
.lang-color-bg[srclang="scss"]{background-color:#c6538c;}
.lang-color-bg[srclang="sparql"]{background-color:#0C4597;}
.lang-color-bg[srclang="sqf"]{background-color:#3F3F3F;}
.lang-color-bg[srclang="sql"]{background-color:#e38c00;}
.lang-color-bg[srclang="sqlpl"]{background-color:#e38c00;}
.lang-color-bg[srclang="srecode template"]{background-color:#348a34;}
.lang-color-bg[srclang="stl"]{background-color:#373b5e;}
.lang-color-bg[srclang="ascii stl"]{background-color:#373b5e;}
.lang-color-bg[srclang="stla"]{background-color:#373b5e;}
.lang-color-bg[srclang="svg"]{background-color:#ff9900;}
.lang-color-bg[srclang="saltstack"]{background-color:#646464;}
.lang-color-bg[srclang="saltstate"]{background-color:#646464;}
.lang-color-bg[srclang="salt"]{background-color:#646464;}
.lang-color-bg[srclang="sass"]{background-color:#a53b70;}
.lang-color-bg[srclang="scala"]{background-color:#c22d40;}
.lang-color-bg[srclang="scaml"]{background-color:#bd181a;}
.lang-color-bg[srclang="scenic"]{background-color:#fdc700;}
.lang-color-bg[srclang="scheme"]{background-color:#1e4aec;}
.lang-color-bg[srclang="scilab"]{background-color:#ca0f21;}
.lang-color-bg[srclang="self"]{background-color:#0579aa;}
.lang-color-bg[srclang="shaderlab"]{background-color:#222c37;}
.lang-color-bg[srclang="shell"]{background-color:#89e051;}
.lang-color-bg[srclang="sh"]{background-color:#89e051;}
.lang-color-bg[srclang="shell-script"]{background-color:#89e051;}
.lang-color-bg[srclang="bash"]{background-color:#89e051;}
.lang-color-bg[srclang="zsh"]{background-color:#89e051;}
.lang-color-bg[srclang="shellcheck config"]{background-color:#cecfcb;}
.lang-color-bg[srclang="shellcheckrc"]{background-color:#cecfcb;}
.lang-color-bg[srclang="shen"]{background-color:#120F14;}
.lang-color-bg[srclang="simple file verification"]{background-color:#C9BFED;}
.lang-color-bg[srclang="sfv"]{background-color:#C9BFED;}
.lang-color-bg[srclang="singularity"]{background-color:#64E6AD;}
.lang-color-bg[srclang="slash"]{background-color:#007eff;}
.lang-color-bg[srclang="slice"]{background-color:#003fa2;}
.lang-color-bg[srclang="slim"]{background-color:#2b2b2b;}
.lang-color-bg[srclang="smpl"]{background-color:#c94949;}
.lang-color-bg[srclang="coccinelle"]{background-color:#c94949;}
.lang-color-bg[srclang="smalltalk"]{background-color:#596706;}
.lang-color-bg[srclang="squeak"]{background-color:#596706;}
.lang-color-bg[srclang="smarty"]{background-color:#f0c040;}
.lang-color-bg[srclang="smithy"]{background-color:#c44536;}
.lang-color-bg[srclang="snakemake"]{background-color:#419179;}
.lang-color-bg[srclang="snakefile"]{background-color:#419179;}
.lang-color-bg[srclang="solidity"]{background-color:#AA6746;}
.lang-color-bg[srclang="sourcepawn"]{background-color:#f69e1d;}
.lang-color-bg[srclang="sourcemod"]{background-color:#f69e1d;}
.lang-color-bg[srclang="squirrel"]{background-color:#800000;}
.lang-color-bg[srclang="stan"]{background-color:#b2011d;}
.lang-color-bg[srclang="standard ml"]{background-color:#dc566d;}
.lang-color-bg[srclang="sml"]{background-color:#dc566d;}
.lang-color-bg[srclang="starlark"]{background-color:#76d275;}
.lang-color-bg[srclang="bazel"]{background-color:#76d275;}
.lang-color-bg[srclang="bzl"]{background-color:#76d275;}
.lang-color-bg[srclang="stata"]{background-color:#1a5f91;}
.lang-color-bg[srclang="stringtemplate"]{background-color:#3fb34f;}
.lang-color-bg[srclang="stylus"]{background-color:#ff6347;}
.lang-color-bg[srclang="subrip text"]{background-color:#9e0101;}
.lang-color-bg[srclang="sugarss"]{background-color:#2fcc9f;}
.lang-color-bg[srclang="supercollider"]{background-color:#46390b;}
.lang-color-bg[srclang="svelte"]{background-color:#ff3e00;}
.lang-color-bg[srclang="sway"]{background-color:#dea584;}
.lang-color-bg[srclang="swift"]{background-color:#F05138;}
.lang-color-bg[srclang="systemverilog"]{background-color:#DAE1C2;}
.lang-color-bg[srclang="ti program"]{background-color:#A0AA87;}
.lang-color-bg[srclang="tl-verilog"]{background-color:#C40023;}
.lang-color-bg[srclang="tla"]{background-color:#4b0079;}
.lang-color-bg[srclang="toml"]{background-color:#9c4221;}
.lang-color-bg[srclang="tsql"]{background-color:#e38c00;}
.lang-color-bg[srclang="tsv"]{background-color:#237346;}
.lang-color-bg[srclang="tsx"]{background-color:#3178c6;}
.lang-color-bg[srclang="txl"]{background-color:#0178b8;}
.lang-color-bg[srclang="talon"]{background-color:#333333;}
.lang-color-bg[srclang="tcl"]{background-color:#e4cc98;}
.lang-color-bg[srclang="sdc"]{background-color:#e4cc98;}
.lang-color-bg[srclang="xdc"]{background-color:#e4cc98;}
.lang-color-bg[srclang="tex"]{background-color:#3D6117;}
.lang-color-bg[srclang="latex"]{background-color:#3D6117;}
.lang-color-bg[srclang="terra"]{background-color:#00004c;}
.lang-color-bg[srclang="textmate properties"]{background-color:#df66e4;}
.lang-color-bg[srclang="tm-properties"]{background-color:#df66e4;}
.lang-color-bg[srclang="textile"]{background-color:#ffe7ac;}
.lang-color-bg[srclang="thrift"]{background-color:#D12127;}
.lang-color-bg[srclang="turing"]{background-color:#cf142b;}
.lang-color-bg[srclang="twig"]{background-color:#c1d026;}
.lang-color-bg[srclang="typescript"]{background-color:#3178c6;}
.lang-color-bg[srclang="ts"]{background-color:#3178c6;}
.lang-color-bg[srclang="unified parallel c"]{background-color:#4e3617;}
.lang-color-bg[srclang="unity3d asset"]{background-color:#222c37;}
.lang-color-bg[srclang="uno"]{background-color:#9933cc;}
.lang-color-bg[srclang="unrealscript"]{background-color:#a54c4d;}
.lang-color-bg[srclang="urweb"]{background-color:#ccccee;}
.lang-color-bg[srclang="Ur/Web"]{background-color:#ccccee;}
.lang-color-bg[srclang="Ur"]{background-color:#ccccee;}
.lang-color-bg[srclang="v"]{background-color:#4f87c4;}
.lang-color-bg[srclang="vlang"]{background-color:#4f87c4;}
.lang-color-bg[srclang="vba"]{background-color:#867db1;}
.lang-color-bg[srclang="visual basic for applications"]{background-color:#867db1;}
.lang-color-bg[srclang="vbscript"]{background-color:#15dcdc;}
.lang-color-bg[srclang="vcl"]{background-color:#148AA8;}
.lang-color-bg[srclang="vhdl"]{background-color:#adb2cb;}
.lang-color-bg[srclang="vala"]{background-color:#a56de2;}
.lang-color-bg[srclang="valve data format"]{background-color:#f26025;}
.lang-color-bg[srclang="keyvalues"]{background-color:#f26025;}
.lang-color-bg[srclang="vdf"]{background-color:#f26025;}
.lang-color-bg[srclang="velocity template language"]{background-color:#507cff;}
.lang-color-bg[srclang="vtl"]{background-color:#507cff;}
.lang-color-bg[srclang="velocity"]{background-color:#507cff;}
.lang-color-bg[srclang="verilog"]{background-color:#b2b7f8;}
.lang-color-bg[srclang="vim help file"]{background-color:#199f4b;}
.lang-color-bg[srclang="help"]{background-color:#199f4b;}
.lang-color-bg[srclang="vimhelp"]{background-color:#199f4b;}
.lang-color-bg[srclang="vim script"]{background-color:#199f4b;}
.lang-color-bg[srclang="vim"]{background-color:#199f4b;}
.lang-color-bg[srclang="viml"]{background-color:#199f4b;}
.lang-color-bg[srclang="nvim"]{background-color:#199f4b;}
.lang-color-bg[srclang="vim snippet"]{background-color:#199f4b;}
.lang-color-bg[srclang="SnipMate"]{background-color:#199f4b;}
.lang-color-bg[srclang="UltiSnip"]{background-color:#199f4b;}
.lang-color-bg[srclang="UltiSnips"]{background-color:#199f4b;}
.lang-color-bg[srclang="NeoSnippet"]{background-color:#199f4b;}
.lang-color-bg[srclang="visual basic .net"]{background-color:#945db7;}
.lang-color-bg[srclang="visual basic"]{background-color:#945db7;}
.lang-color-bg[srclang="vbnet"]{background-color:#945db7;}
.lang-color-bg[srclang="vb .net"]{background-color:#945db7;}
.lang-color-bg[srclang="vb.net"]{background-color:#945db7;}
.lang-color-bg[srclang="visual basic 6.0"]{background-color:#2c6353;}
.lang-color-bg[srclang="vb6"]{background-color:#2c6353;}
.lang-color-bg[srclang="vb 6"]{background-color:#2c6353;}
.lang-color-bg[srclang="visual basic 6"]{background-color:#2c6353;}
.lang-color-bg[srclang="visual basic classic"]{background-color:#2c6353;}
.lang-color-bg[srclang="classic visual basic"]{background-color:#2c6353;}
.lang-color-bg[srclang="volt"]{background-color:#1F1F1F;}
.lang-color-bg[srclang="vue"]{background-color:#41b883;}
.lang-color-bg[srclang="vyper"]{background-color:#2980b9;}
.lang-color-bg[srclang="wdl"]{background-color:#42f1f4;}
.lang-color-bg[srclang="Workflow Description Language"]{background-color:#42f1f4;}
.lang-color-bg[srclang="wgsl"]{background-color:#1a5e9a;}
.lang-color-bg[srclang="web ontology language"]{background-color:#5b70bd;}
.lang-color-bg[srclang="webassembly"]{background-color:#04133b;}
.lang-color-bg[srclang="wast"]{background-color:#04133b;}
.lang-color-bg[srclang="wasm"]{background-color:#04133b;}
.lang-color-bg[srclang="webassembly interface type"]{background-color:#6250e7;}
.lang-color-bg[srclang="wit"]{background-color:#6250e7;}
.lang-color-bg[srclang="whiley"]{background-color:#d5c397;}
.lang-color-bg[srclang="wikitext"]{background-color:#fc5757;}
.lang-color-bg[srclang="mediawiki"]{background-color:#fc5757;}
.lang-color-bg[srclang="wiki"]{background-color:#fc5757;}
.lang-color-bg[srclang="windows registry entries"]{background-color:#52d5ff;}
.lang-color-bg[srclang="witcher script"]{background-color:#ff0000;}
.lang-color-bg[srclang="wollok"]{background-color:#a23738;}
.lang-color-bg[srclang="world of warcraft addon data"]{background-color:#f7e43f;}
.lang-color-bg[srclang="wren"]{background-color:#383838;}
.lang-color-bg[srclang="wrenlang"]{background-color:#383838;}
.lang-color-bg[srclang="x10"]{background-color:#4B6BEF;}
.lang-color-bg[srclang="xten"]{background-color:#4B6BEF;}
.lang-color-bg[srclang="xc"]{background-color:#99DA07;}
.lang-color-bg[srclang="xml"]{background-color:#0060ac;}
.lang-color-bg[srclang="rss"]{background-color:#0060ac;}
.lang-color-bg[srclang="xsd"]{background-color:#0060ac;}
.lang-color-bg[srclang="wsdl"]{background-color:#0060ac;}
.lang-color-bg[srclang="xml property list"]{background-color:#0060ac;}
.lang-color-bg[srclang="xquery"]{background-color:#5232e7;}
.lang-color-bg[srclang="xslt"]{background-color:#EB8CEB;}
.lang-color-bg[srclang="xsl"]{background-color:#EB8CEB;}
.lang-color-bg[srclang="xojo"]{background-color:#81bd41;}
.lang-color-bg[srclang="xonsh"]{background-color:#285EEF;}
.lang-color-bg[srclang="xtend"]{background-color:#24255d;}
.lang-color-bg[srclang="yaml"]{background-color:#cb171e;}
.lang-color-bg[srclang="yml"]{background-color:#cb171e;}
.lang-color-bg[srclang="yara"]{background-color:#220000;}
.lang-color-bg[srclang="yasnippet"]{background-color:#32AB90;}
.lang-color-bg[srclang="snippet"]{background-color:#32AB90;}
.lang-color-bg[srclang="yas"]{background-color:#32AB90;}
.lang-color-bg[srclang="yacc"]{background-color:#4B6C4B;}
.lang-color-bg[srclang="yul"]{background-color:#794932;}
.lang-color-bg[srclang="zap"]{background-color:#0d665e;}
.lang-color-bg[srclang="zil"]{background-color:#dc75e5;}
.lang-color-bg[srclang="zenscript"]{background-color:#00BCD1;}
.lang-color-bg[srclang="zephir"]{background-color:#118f9e;}
.lang-color-bg[srclang="zig"]{background-color:#ec915c;}
.lang-color-bg[srclang="zimpl"]{background-color:#d67711;}
.lang-color-bg[srclang="ec"]{background-color:#913960;}
.lang-color-bg[srclang="fish"]{background-color:#4aae47;}
.lang-color-bg[srclang="hoon"]{background-color:#00b171;}
.lang-color-bg[srclang="jq"]{background-color:#c7254e;}
.lang-color-bg[srclang="kvlang"]{background-color:#1da6e0;}
.lang-color-bg[srclang="mirc script"]{background-color:#3d57c3;}
.lang-color-bg[srclang="mcfunction"]{background-color:#E22837;}
.lang-color-bg[srclang="mupad"]{background-color:#244963;}
.lang-color-bg[srclang="nanorc"]{background-color:#2d004d;}
.lang-color-bg[srclang="nesc"]{background-color:#94B0C7;}
.lang-color-bg[srclang="ooc"]{background-color:#b0b77e;}
.lang-color-bg[srclang="q"]{background-color:#0040cd;}
.lang-color-bg[srclang="restructuredtext"]{background-color:#141414;}
.lang-color-bg[srclang="rst"]{background-color:#141414;}
.lang-color-bg[srclang="sed"]{background-color:#64b970;}
.lang-color-bg[srclang="wisp"]{background-color:#7582D1;}
.lang-color-bg[srclang="xbase"]{background-color:#403a40;}
.lang-color-bg[srclang="advpl"]{background-color:#403a40;}
.lang-color-bg[srclang="clipper"]{background-color:#403a40;}
.lang-color-bg[srclang="foxpro"]{background-color:#403a40;}
