.lang-color-fg[srclang="1c enterprise"]{color:#814CCC;}
.lang-color-fg[srclang="2-dimensional array"]{color:#38761D;}
.lang-color-fg[srclang="4d"]{color:#004289;}
.lang-color-fg[srclang="abap"]{color:#E8274B;}
.lang-color-fg[srclang="abap cds"]{color:#555e25;}
.lang-color-fg[srclang="ags script"]{color:#B9D9FF;}
.lang-color-fg[srclang="ags"]{color:#B9D9FF;}
.lang-color-fg[srclang="aidl"]{color:#34EB6B;}
.lang-color-fg[srclang="al"]{color:#3AA2B5;}
.lang-color-fg[srclang="ampl"]{color:#E6EFBB;}
.lang-color-fg[srclang="antlr"]{color:#9DC3FF;}
.lang-color-fg[srclang="api blueprint"]{color:#2ACCA8;}
.lang-color-fg[srclang="apl"]{color:#5A8164;}
.lang-color-fg[srclang="asp.net"]{color:#9400ff;}
.lang-color-fg[srclang="aspx"]{color:#9400ff;}
.lang-color-fg[srclang="aspx-vb"]{color:#9400ff;}
.lang-color-fg[srclang="ats"]{color:#1ac620;}
.lang-color-fg[srclang="ats2"]{color:#1ac620;}
.lang-color-fg[srclang="actionscript"]{color:#882B0F;}
.lang-color-fg[srclang="actionscript 3"]{color:#882B0F;}
.lang-color-fg[srclang="actionscript3"]{color:#882B0F;}
.lang-color-fg[srclang="as3"]{color:#882B0F;}
.lang-color-fg[srclang="ada"]{color:#02f88c;}
.lang-color-fg[srclang="ada95"]{color:#02f88c;}
.lang-color-fg[srclang="ada2005"]{color:#02f88c;}
.lang-color-fg[srclang="adblock filter list"]{color:#800000;}
.lang-color-fg[srclang="ad block filters"]{color:#800000;}
.lang-color-fg[srclang="ad block"]{color:#800000;}
.lang-color-fg[srclang="adb"]{color:#800000;}
.lang-color-fg[srclang="adblock"]{color:#800000;}
.lang-color-fg[srclang="adobe font metrics"]{color:#fa0f00;}
.lang-color-fg[srclang="acfm"]{color:#fa0f00;}
.lang-color-fg[srclang="adobe composite font metrics"]{color:#fa0f00;}
.lang-color-fg[srclang="adobe multiple font metrics"]{color:#fa0f00;}
.lang-color-fg[srclang="amfm"]{color:#fa0f00;}
.lang-color-fg[srclang="agda"]{color:#315665;}
.lang-color-fg[srclang="alloy"]{color:#64C800;}
.lang-color-fg[srclang="alpine abuild"]{color:#0D597F;}
.lang-color-fg[srclang="abuild"]{color:#0D597F;}
.lang-color-fg[srclang="apkbuild"]{color:#0D597F;}
.lang-color-fg[srclang="altium designer"]{color:#A89663;}
.lang-color-fg[srclang="altium"]{color:#A89663;}
.lang-color-fg[srclang="angelscript"]{color:#C7D7DC;}
.lang-color-fg[srclang="ant build system"]{color:#A9157E;}
.lang-color-fg[srclang="antlers"]{color:#ff269e;}
.lang-color-fg[srclang="apacheconf"]{color:#d12127;}
.lang-color-fg[srclang="aconf"]{color:#d12127;}
.lang-color-fg[srclang="apache"]{color:#d12127;}
.lang-color-fg[srclang="apex"]{color:#1797c0;}
.lang-color-fg[srclang="apollo guidance computer"]{color:#0B3D91;}
.lang-color-fg[srclang="applescript"]{color:#101F1F;}
.lang-color-fg[srclang="osascript"]{color:#101F1F;}
.lang-color-fg[srclang="arc"]{color:#aa2afe;}
.lang-color-fg[srclang="asciidoc"]{color:#73a0c5;}
.lang-color-fg[srclang="aspectj"]{color:#a957b0;}
.lang-color-fg[srclang="assembly"]{color:#6E4C13;}
.lang-color-fg[srclang="asm"]{color:#6E4C13;}
.lang-color-fg[srclang="nasm"]{color:#6E4C13;}
.lang-color-fg[srclang="astro"]{color:#ff5a03;}
.lang-color-fg[srclang="asymptote"]{color:#ff0000;}
.lang-color-fg[srclang="augeas"]{color:#9CC134;}
.lang-color-fg[srclang="autohotkey"]{color:#6594b9;}
.lang-color-fg[srclang="ahk"]{color:#6594b9;}
.lang-color-fg[srclang="autoit"]{color:#1C3552;}
.lang-color-fg[srclang="au3"]{color:#1C3552;}
.lang-color-fg[srclang="AutoIt3"]{color:#1C3552;}
.lang-color-fg[srclang="AutoItScript"]{color:#1C3552;}
.lang-color-fg[srclang="avro idl"]{color:#0040FF;}
.lang-color-fg[srclang="awk"]{color:#c30e9b;}
.lang-color-fg[srclang="basic"]{color:#ff0000;}
.lang-color-fg[srclang="ballerina"]{color:#FF5000;}
.lang-color-fg[srclang="batchfile"]{color:#C1F12E;}
.lang-color-fg[srclang="bat"]{color:#C1F12E;}
.lang-color-fg[srclang="batch"]{color:#C1F12E;}
.lang-color-fg[srclang="dosbatch"]{color:#C1F12E;}
.lang-color-fg[srclang="winbatch"]{color:#C1F12E;}
.lang-color-fg[srclang="beef"]{color:#a52f4e;}
.lang-color-fg[srclang="berry"]{color:#15A13C;}
.lang-color-fg[srclang="be"]{color:#15A13C;}
.lang-color-fg[srclang="bibtex"]{color:#778899;}
.lang-color-fg[srclang="bicep"]{color:#519aba;}
.lang-color-fg[srclang="bikeshed"]{color:#5562ac;}
.lang-color-fg[srclang="bison"]{color:#6A463F;}
.lang-color-fg[srclang="bitbake"]{color:#00bce4;}
.lang-color-fg[srclang="blade"]{color:#f7523f;}
.lang-color-fg[srclang="blitzbasic"]{color:#00FFAE;}
.lang-color-fg[srclang="b3d"]{color:#00FFAE;}
.lang-color-fg[srclang="blitz3d"]{color:#00FFAE;}
.lang-color-fg[srclang="blitzplus"]{color:#00FFAE;}
.lang-color-fg[srclang="bplus"]{color:#00FFAE;}
.lang-color-fg[srclang="blitzmax"]{color:#cd6400;}
.lang-color-fg[srclang="bmax"]{color:#cd6400;}
.lang-color-fg[srclang="bluespec"]{color:#12223c;}
.lang-color-fg[srclang="boo"]{color:#d4bec1;}
.lang-color-fg[srclang="boogie"]{color:#c80fa0;}
.lang-color-fg[srclang="brainfuck"]{color:#2F2530;}
.lang-color-fg[srclang="brighterscript"]{color:#66AABB;}
.lang-color-fg[srclang="brightscript"]{color:#662D91;}
.lang-color-fg[srclang="browserslist"]{color:#ffd539;}
.lang-color-fg[srclang="c"]{color:#555555;}
.lang-color-fg[srclang="c#"]{color:#178600;}
.lang-color-fg[srclang="csharp"]{color:#178600;}
.lang-color-fg[srclang="cake"]{color:#178600;}
.lang-color-fg[srclang="cakescript"]{color:#178600;}
.lang-color-fg[srclang="c++"]{color:#f34b7d;}
.lang-color-fg[srclang="cpp"]{color:#f34b7d;}
.lang-color-fg[srclang="cap cds"]{color:#0092d1;}
.lang-color-fg[srclang="cds"]{color:#0092d1;}
.lang-color-fg[srclang="clips"]{color:#00A300;}
.lang-color-fg[srclang="cmake"]{color:#DA3434;}
.lang-color-fg[srclang="collada"]{color:#F1A42B;}
.lang-color-fg[srclang="cson"]{color:#244776;}
.lang-color-fg[srclang="css"]{color:#563d7c;}
.lang-color-fg[srclang="csv"]{color:#237346;}
.lang-color-fg[srclang="cue"]{color:#5886E1;}
.lang-color-fg[srclang="cweb"]{color:#00007a;}
.lang-color-fg[srclang="cabal config"]{color:#483465;}
.lang-color-fg[srclang="Cabal"]{color:#483465;}
.lang-color-fg[srclang="cadence"]{color:#00ef8b;}
.lang-color-fg[srclang="cairo"]{color:#ff4a48;}
.lang-color-fg[srclang="cameligo"]{color:#3be133;}
.lang-color-fg[srclang="cap'n proto"]{color:#c42727;}
.lang-color-fg[srclang="ceylon"]{color:#dfa535;}
.lang-color-fg[srclang="chapel"]{color:#8dc63f;}
.lang-color-fg[srclang="chpl"]{color:#8dc63f;}
.lang-color-fg[srclang="chuck"]{color:#3f8000;}
.lang-color-fg[srclang="circom"]{color:#707575;}
.lang-color-fg[srclang="cirru"]{color:#ccccff;}
.lang-color-fg[srclang="clarion"]{color:#db901e;}
.lang-color-fg[srclang="clarity"]{color:#5546ff;}
.lang-color-fg[srclang="classic asp"]{color:#6a40fd;}
.lang-color-fg[srclang="asp"]{color:#6a40fd;}
.lang-color-fg[srclang="clean"]{color:#3F85AF;}
.lang-color-fg[srclang="click"]{color:#E4E6F3;}
.lang-color-fg[srclang="clojure"]{color:#db5855;}
.lang-color-fg[srclang="closure templates"]{color:#0d948f;}
.lang-color-fg[srclang="soy"]{color:#0d948f;}
.lang-color-fg[srclang="cloud firestore security rules"]{color:#FFA000;}
.lang-color-fg[srclang="codeql"]{color:#140f46;}
.lang-color-fg[srclang="ql"]{color:#140f46;}
.lang-color-fg[srclang="coffeescript"]{color:#244776;}
.lang-color-fg[srclang="coffee"]{color:#244776;}
.lang-color-fg[srclang="coffee-script"]{color:#244776;}
.lang-color-fg[srclang="coldfusion"]{color:#ed2cd6;}
.lang-color-fg[srclang="cfm"]{color:#ed2cd6;}
.lang-color-fg[srclang="cfml"]{color:#ed2cd6;}
.lang-color-fg[srclang="coldfusion html"]{color:#ed2cd6;}
.lang-color-fg[srclang="coldfusion cfc"]{color:#ed2cd6;}
.lang-color-fg[srclang="cfc"]{color:#ed2cd6;}
.lang-color-fg[srclang="common lisp"]{color:#3fb68b;}
.lang-color-fg[srclang="lisp"]{color:#3fb68b;}
.lang-color-fg[srclang="common workflow language"]{color:#B5314C;}
.lang-color-fg[srclang="cwl"]{color:#B5314C;}
.lang-color-fg[srclang="component pascal"]{color:#B0CE4E;}
.lang-color-fg[srclang="coq"]{color:#d0b68c;}
.lang-color-fg[srclang="crystal"]{color:#000100;}
.lang-color-fg[srclang="csound"]{color:#1a1a1a;}
.lang-color-fg[srclang="csound-orc"]{color:#1a1a1a;}
.lang-color-fg[srclang="csound document"]{color:#1a1a1a;}
.lang-color-fg[srclang="csound-csd"]{color:#1a1a1a;}
.lang-color-fg[srclang="csound score"]{color:#1a1a1a;}
.lang-color-fg[srclang="csound-sco"]{color:#1a1a1a;}
.lang-color-fg[srclang="cuda"]{color:#3A4E3A;}
.lang-color-fg[srclang="curry"]{color:#531242;}
.lang-color-fg[srclang="cypher"]{color:#34c0eb;}
.lang-color-fg[srclang="cython"]{color:#fedf5b;}
.lang-color-fg[srclang="pyrex"]{color:#fedf5b;}
.lang-color-fg[srclang="d"]{color:#ba595e;}
.lang-color-fg[srclang="Dlang"]{color:#ba595e;}
.lang-color-fg[srclang="d2"]{color:#526ee8;}
.lang-color-fg[srclang="d2lang"]{color:#526ee8;}
.lang-color-fg[srclang="dm"]{color:#447265;}
.lang-color-fg[srclang="byond"]{color:#447265;}
.lang-color-fg[srclang="dafny"]{color:#FFEC25;}
.lang-color-fg[srclang="darcs patch"]{color:#8eff23;}
.lang-color-fg[srclang="dpatch"]{color:#8eff23;}
.lang-color-fg[srclang="dart"]{color:#00B4AB;}
.lang-color-fg[srclang="dataweave"]{color:#003a52;}
.lang-color-fg[srclang="debian package control file"]{color:#D70751;}
.lang-color-fg[srclang="denizenscript"]{color:#FBEE96;}
.lang-color-fg[srclang="dhall"]{color:#dfafff;}
.lang-color-fg[srclang="directx 3d file"]{color:#aace60;}
.lang-color-fg[srclang="dockerfile"]{color:#384d54;}
.lang-color-fg[srclang="Containerfile"]{color:#384d54;}
.lang-color-fg[srclang="dogescript"]{color:#cca760;}
.lang-color-fg[srclang="dotenv"]{color:#e5d559;}
.lang-color-fg[srclang="dylan"]{color:#6c616e;}
.lang-color-fg[srclang="e"]{color:#ccce35;}
.lang-color-fg[srclang="ecl"]{color:#8a1267;}
.lang-color-fg[srclang="eclipse"]{color:#001d9d;}
.lang-color-fg[srclang="ejs"]{color:#a91e50;}
.lang-color-fg[srclang="eq"]{color:#a78649;}
.lang-color-fg[srclang="earthly"]{color:#2af0ff;}
.lang-color-fg[srclang="Earthfile"]{color:#2af0ff;}
.lang-color-fg[srclang="easybuild"]{color:#069406;}
.lang-color-fg[srclang="ecere projects"]{color:#913960;}
.lang-color-fg[srclang="ecmarkup"]{color:#eb8131;}
.lang-color-fg[srclang="ecmarkdown"]{color:#eb8131;}
.lang-color-fg[srclang="editorconfig"]{color:#fff1f2;}
.lang-color-fg[srclang="editor-config"]{color:#fff1f2;}
.lang-color-fg[srclang="eiffel"]{color:#4d6977;}
.lang-color-fg[srclang="elixir"]{color:#6e4a7e;}
.lang-color-fg[srclang="elm"]{color:#60B5CC;}
.lang-color-fg[srclang="elvish"]{color:#55BB55;}
.lang-color-fg[srclang="elvish transcript"]{color:#55BB55;}
.lang-color-fg[srclang="emacs lisp"]{color:#c065db;}
.lang-color-fg[srclang="elisp"]{color:#c065db;}
.lang-color-fg[srclang="emacs"]{color:#c065db;}
.lang-color-fg[srclang="emberscript"]{color:#FFF4F3;}
.lang-color-fg[srclang="erlang"]{color:#B83998;}
.lang-color-fg[srclang="euphoria"]{color:#FF790B;}
.lang-color-fg[srclang="f#"]{color:#b845fc;}
.lang-color-fg[srclang="fsharp"]{color:#b845fc;}
.lang-color-fg[srclang="f*"]{color:#572e30;}
.lang-color-fg[srclang="fstar"]{color:#572e30;}
.lang-color-fg[srclang="figlet font"]{color:#FFDDBB;}
.lang-color-fg[srclang="FIGfont"]{color:#FFDDBB;}
.lang-color-fg[srclang="flux"]{color:#88ccff;}
.lang-color-fg[srclang="factor"]{color:#636746;}
.lang-color-fg[srclang="fancy"]{color:#7b9db4;}
.lang-color-fg[srclang="fantom"]{color:#14253c;}
.lang-color-fg[srclang="faust"]{color:#c37240;}
.lang-color-fg[srclang="fennel"]{color:#fff3d7;}
.lang-color-fg[srclang="filebench wml"]{color:#F6B900;}
.lang-color-fg[srclang="fluent"]{color:#ffcc33;}
.lang-color-fg[srclang="forth"]{color:#341708;}
.lang-color-fg[srclang="fortran"]{color:#4d41b1;}
.lang-color-fg[srclang="fortran free form"]{color:#4d41b1;}
.lang-color-fg[srclang="freebasic"]{color:#141AC9;}
.lang-color-fg[srclang="fb"]{color:#141AC9;}
.lang-color-fg[srclang="freemarker"]{color:#0050b2;}
.lang-color-fg[srclang="ftl"]{color:#0050b2;}
.lang-color-fg[srclang="frege"]{color:#00cafe;}
.lang-color-fg[srclang="futhark"]{color:#5f021f;}
.lang-color-fg[srclang="g-code"]{color:#D08CF2;}
.lang-color-fg[srclang="gaml"]{color:#FFC766;}
.lang-color-fg[srclang="gams"]{color:#f49a22;}
.lang-color-fg[srclang="gap"]{color:#0000cc;}
.lang-color-fg[srclang="gcc machine description"]{color:#FFCFAB;}
.lang-color-fg[srclang="gdscript"]{color:#355570;}
.lang-color-fg[srclang="gedcom"]{color:#003058;}
.lang-color-fg[srclang="glsl"]{color:#5686a5;}
.lang-color-fg[srclang="gsc"]{color:#FF6800;}
.lang-color-fg[srclang="game maker language"]{color:#71b417;}
.lang-color-fg[srclang="gemfile.lock"]{color:#701516;}
.lang-color-fg[srclang="gemini"]{color:#ff6900;}
.lang-color-fg[srclang="gemtext"]{color:#ff6900;}
.lang-color-fg[srclang="genero"]{color:#63408e;}
.lang-color-fg[srclang="genero forms"]{color:#d8df39;}
.lang-color-fg[srclang="genie"]{color:#fb855d;}
.lang-color-fg[srclang="genshi"]{color:#951531;}
.lang-color-fg[srclang="xml+genshi"]{color:#951531;}
.lang-color-fg[srclang="xml+kid"]{color:#951531;}
.lang-color-fg[srclang="gentoo ebuild"]{color:#9400ff;}
.lang-color-fg[srclang="gentoo eclass"]{color:#9400ff;}
.lang-color-fg[srclang="gerber image"]{color:#d20b00;}
.lang-color-fg[srclang="rs-274x"]{color:#d20b00;}
.lang-color-fg[srclang="gherkin"]{color:#5B2063;}
.lang-color-fg[srclang="cucumber"]{color:#5B2063;}
.lang-color-fg[srclang="git attributes"]{color:#F44D27;}
.lang-color-fg[srclang="gitattributes"]{color:#F44D27;}
.lang-color-fg[srclang="git config"]{color:#F44D27;}
.lang-color-fg[srclang="gitconfig"]{color:#F44D27;}
.lang-color-fg[srclang="gitmodules"]{color:#F44D27;}
.lang-color-fg[srclang="git revision list"]{color:#F44D27;}
.lang-color-fg[srclang="Git Blame Ignore Revs"]{color:#F44D27;}
.lang-color-fg[srclang="gleam"]{color:#ffaff3;}
.lang-color-fg[srclang="glyph"]{color:#c1ac7f;}
.lang-color-fg[srclang="gnuplot"]{color:#f0a9f0;}
.lang-color-fg[srclang="go"]{color:#00ADD8;}
.lang-color-fg[srclang="golang"]{color:#00ADD8;}
.lang-color-fg[srclang="go checksums"]{color:#00ADD8;}
.lang-color-fg[srclang="go.sum"]{color:#00ADD8;}
.lang-color-fg[srclang="go sum"]{color:#00ADD8;}
.lang-color-fg[srclang="go.work.sum"]{color:#00ADD8;}
.lang-color-fg[srclang="go work sum"]{color:#00ADD8;}
.lang-color-fg[srclang="go module"]{color:#00ADD8;}
.lang-color-fg[srclang="go.mod"]{color:#00ADD8;}
.lang-color-fg[srclang="go mod"]{color:#00ADD8;}
.lang-color-fg[srclang="go workspace"]{color:#00ADD8;}
.lang-color-fg[srclang="go.work"]{color:#00ADD8;}
.lang-color-fg[srclang="go work"]{color:#00ADD8;}
.lang-color-fg[srclang="godot resource"]{color:#355570;}
.lang-color-fg[srclang="golo"]{color:#88562A;}
.lang-color-fg[srclang="gosu"]{color:#82937f;}
.lang-color-fg[srclang="grace"]{color:#615f8b;}
.lang-color-fg[srclang="gradle"]{color:#02303a;}
.lang-color-fg[srclang="grammatical framework"]{color:#ff0000;}
.lang-color-fg[srclang="gf"]{color:#ff0000;}
.lang-color-fg[srclang="graphql"]{color:#e10098;}
.lang-color-fg[srclang="graphviz (dot)"]{color:#2596be;}
.lang-color-fg[srclang="groovy"]{color:#4298b8;}
.lang-color-fg[srclang="groovy server pages"]{color:#4298b8;}
.lang-color-fg[srclang="gsp"]{color:#4298b8;}
.lang-color-fg[srclang="java server page"]{color:#4298b8;}
.lang-color-fg[srclang="haproxy"]{color:#106da9;}
.lang-color-fg[srclang="hcl"]{color:#844FBA;}
.lang-color-fg[srclang="HashiCorp Configuration Language"]{color:#844FBA;}
.lang-color-fg[srclang="terraform"]{color:#844FBA;}
.lang-color-fg[srclang="hlsl"]{color:#aace60;}
.lang-color-fg[srclang="hocon"]{color:#9ff8ee;}
.lang-color-fg[srclang="html"]{color:#e34c26;}
.lang-color-fg[srclang="xhtml"]{color:#e34c26;}
.lang-color-fg[srclang="html+ecr"]{color:#2e1052;}
.lang-color-fg[srclang="ecr"]{color:#2e1052;}
.lang-color-fg[srclang="html+eex"]{color:#6e4a7e;}
.lang-color-fg[srclang="eex"]{color:#6e4a7e;}
.lang-color-fg[srclang="heex"]{color:#6e4a7e;}
.lang-color-fg[srclang="leex"]{color:#6e4a7e;}
.lang-color-fg[srclang="html+erb"]{color:#701516;}
.lang-color-fg[srclang="erb"]{color:#701516;}
.lang-color-fg[srclang="rhtml"]{color:#701516;}
.lang-color-fg[srclang="html+ruby"]{color:#701516;}
.lang-color-fg[srclang="html+php"]{color:#4f5d95;}
.lang-color-fg[srclang="html+razor"]{color:#512be4;}
.lang-color-fg[srclang="razor"]{color:#512be4;}
.lang-color-fg[srclang="http"]{color:#005C9C;}
.lang-color-fg[srclang="hxml"]{color:#f68712;}
.lang-color-fg[srclang="hack"]{color:#878787;}
.lang-color-fg[srclang="haml"]{color:#ece2a9;}
.lang-color-fg[srclang="handlebars"]{color:#f7931e;}
.lang-color-fg[srclang="hbs"]{color:#f7931e;}
.lang-color-fg[srclang="htmlbars"]{color:#f7931e;}
.lang-color-fg[srclang="harbour"]{color:#0e60e3;}
.lang-color-fg[srclang="haskell"]{color:#5e5086;}
.lang-color-fg[srclang="haxe"]{color:#df7900;}
.lang-color-fg[srclang="hiveql"]{color:#dce200;}
.lang-color-fg[srclang="holyc"]{color:#ffefaf;}
.lang-color-fg[srclang="hosts file"]{color:#308888;}
.lang-color-fg[srclang="hy"]{color:#7790B2;}
.lang-color-fg[srclang="hylang"]{color:#7790B2;}
.lang-color-fg[srclang="idl"]{color:#a3522f;}
.lang-color-fg[srclang="igor pro"]{color:#0000cc;}
.lang-color-fg[srclang="igor"]{color:#0000cc;}
.lang-color-fg[srclang="igorpro"]{color:#0000cc;}
.lang-color-fg[srclang="ini"]{color:#d1dbe0;}
.lang-color-fg[srclang="dosini"]{color:#d1dbe0;}
.lang-color-fg[srclang="idris"]{color:#b30000;}
.lang-color-fg[srclang="ignore list"]{color:#000000;}
.lang-color-fg[srclang="ignore"]{color:#000000;}
.lang-color-fg[srclang="gitignore"]{color:#000000;}
.lang-color-fg[srclang="git-ignore"]{color:#000000;}
.lang-color-fg[srclang="imagej macro"]{color:#99AAFF;}
.lang-color-fg[srclang="ijm"]{color:#99AAFF;}
.lang-color-fg[srclang="imba"]{color:#16cec6;}
.lang-color-fg[srclang="inno setup"]{color:#264b99;}
.lang-color-fg[srclang="io"]{color:#a9188d;}
.lang-color-fg[srclang="ioke"]{color:#078193;}
.lang-color-fg[srclang="isabelle"]{color:#FEFE00;}
.lang-color-fg[srclang="isabelle root"]{color:#FEFE00;}
.lang-color-fg[srclang="j"]{color:#9EEDFF;}
.lang-color-fg[srclang="jar manifest"]{color:#b07219;}
.lang-color-fg[srclang="jcl"]{color:#d90e09;}
.lang-color-fg[srclang="jflex"]{color:#DBCA00;}
.lang-color-fg[srclang="json"]{color:#292929;}
.lang-color-fg[srclang="geojson"]{color:#292929;}
.lang-color-fg[srclang="jsonl"]{color:#292929;}
.lang-color-fg[srclang="topojson"]{color:#292929;}
.lang-color-fg[srclang="json with comments"]{color:#292929;}
.lang-color-fg[srclang="jsonc"]{color:#292929;}
.lang-color-fg[srclang="json5"]{color:#267CB9;}
.lang-color-fg[srclang="jsonld"]{color:#0c479c;}
.lang-color-fg[srclang="jsoniq"]{color:#40d47e;}
.lang-color-fg[srclang="janet"]{color:#0886a5;}
.lang-color-fg[srclang="jasmin"]{color:#d03600;}
.lang-color-fg[srclang="java"]{color:#b07219;}
.lang-color-fg[srclang="java properties"]{color:#2A6277;}
.lang-color-fg[srclang="java server pages"]{color:#2A6277;}
.lang-color-fg[srclang="jsp"]{color:#2A6277;}
.lang-color-fg[srclang="javascript"]{color:#f1e05a;}
.lang-color-fg[srclang="js"]{color:#f1e05a;}
.lang-color-fg[srclang="node"]{color:#f1e05a;}
.lang-color-fg[srclang="javascript+erb"]{color:#f1e05a;}
.lang-color-fg[srclang="jest snapshot"]{color:#15c213;}
.lang-color-fg[srclang="jetbrains mps"]{color:#21D789;}
.lang-color-fg[srclang="mps"]{color:#21D789;}
.lang-color-fg[srclang="jinja"]{color:#a52a22;}
.lang-color-fg[srclang="django"]{color:#a52a22;}
.lang-color-fg[srclang="html+django"]{color:#a52a22;}
.lang-color-fg[srclang="html+jinja"]{color:#a52a22;}
.lang-color-fg[srclang="htmldjango"]{color:#a52a22;}
.lang-color-fg[srclang="jison"]{color:#56b3cb;}
.lang-color-fg[srclang="jison lex"]{color:#56b3cb;}
.lang-color-fg[srclang="jolie"]{color:#843179;}
.lang-color-fg[srclang="jsonnet"]{color:#0064bd;}
.lang-color-fg[srclang="julia"]{color:#a270ba;}
.lang-color-fg[srclang="jupyter notebook"]{color:#DA5B0B;}
.lang-color-fg[srclang="IPython Notebook"]{color:#DA5B0B;}
.lang-color-fg[srclang="just"]{color:#384d54;}
.lang-color-fg[srclang="Justfile"]{color:#384d54;}
.lang-color-fg[srclang="krl"]{color:#28430A;}
.lang-color-fg[srclang="kaitai struct"]{color:#773b37;}
.lang-color-fg[srclang="ksy"]{color:#773b37;}
.lang-color-fg[srclang="kakounescript"]{color:#6f8042;}
.lang-color-fg[srclang="kak"]{color:#6f8042;}
.lang-color-fg[srclang="kakscript"]{color:#6f8042;}
.lang-color-fg[srclang="kerboscript"]{color:#41adf0;}
.lang-color-fg[srclang="kicad layout"]{color:#2f4aab;}
.lang-color-fg[srclang="pcbnew"]{color:#2f4aab;}
.lang-color-fg[srclang="kicad legacy layout"]{color:#2f4aab;}
.lang-color-fg[srclang="kicad schematic"]{color:#2f4aab;}
.lang-color-fg[srclang="eeschema schematic"]{color:#2f4aab;}
.lang-color-fg[srclang="kotlin"]{color:#A97BFF;}
.lang-color-fg[srclang="lfe"]{color:#4C3023;}
.lang-color-fg[srclang="llvm"]{color:#185619;}
.lang-color-fg[srclang="lolcode"]{color:#cc9900;}
.lang-color-fg[srclang="lsl"]{color:#3d9970;}
.lang-color-fg[srclang="labview"]{color:#fede06;}
.lang-color-fg[srclang="lark"]{color:#2980B9;}
.lang-color-fg[srclang="lasso"]{color:#999999;}
.lang-color-fg[srclang="lassoscript"]{color:#999999;}
.lang-color-fg[srclang="latte"]{color:#f2a542;}
.lang-color-fg[srclang="less"]{color:#1d365d;}
.lang-color-fg[srclang="less-css"]{color:#1d365d;}
.lang-color-fg[srclang="lex"]{color:#DBCA00;}
.lang-color-fg[srclang="flex"]{color:#DBCA00;}
.lang-color-fg[srclang="ligolang"]{color:#0e74ff;}
.lang-color-fg[srclang="lilypond"]{color:#9ccc7c;}
.lang-color-fg[srclang="liquid"]{color:#67b8de;}
.lang-color-fg[srclang="literate agda"]{color:#315665;}
.lang-color-fg[srclang="literate coffeescript"]{color:#244776;}
.lang-color-fg[srclang="litcoffee"]{color:#244776;}
.lang-color-fg[srclang="literate haskell"]{color:#5e5086;}
.lang-color-fg[srclang="lhaskell"]{color:#5e5086;}
.lang-color-fg[srclang="lhs"]{color:#5e5086;}
.lang-color-fg[srclang="livescript"]{color:#499886;}
.lang-color-fg[srclang="live-script"]{color:#499886;}
.lang-color-fg[srclang="ls"]{color:#499886;}
.lang-color-fg[srclang="logtalk"]{color:#295b9a;}
.lang-color-fg[srclang="lookml"]{color:#652B81;}
.lang-color-fg[srclang="lua"]{color:#000080;}
.lang-color-fg[srclang="matlab"]{color:#e16737;}
.lang-color-fg[srclang="octave"]{color:#e16737;}
.lang-color-fg[srclang="maxscript"]{color:#00a6a6;}
.lang-color-fg[srclang="mdx"]{color:#fcb32c;}
.lang-color-fg[srclang="mlir"]{color:#5EC8DB;}
.lang-color-fg[srclang="mql4"]{color:#62A8D6;}
.lang-color-fg[srclang="mql5"]{color:#4A76B8;}
.lang-color-fg[srclang="mtml"]{color:#b7e1f4;}
.lang-color-fg[srclang="macaulay2"]{color:#d8ffff;}
.lang-color-fg[srclang="m2"]{color:#d8ffff;}
.lang-color-fg[srclang="makefile"]{color:#427819;}
.lang-color-fg[srclang="bsdmake"]{color:#427819;}
.lang-color-fg[srclang="make"]{color:#427819;}
.lang-color-fg[srclang="mf"]{color:#427819;}
.lang-color-fg[srclang="mako"]{color:#7e858d;}
.lang-color-fg[srclang="markdown"]{color:#083fa1;}
.lang-color-fg[srclang="md"]{color:#083fa1;}
.lang-color-fg[srclang="pandoc"]{color:#083fa1;}
.lang-color-fg[srclang="marko"]{color:#42bff2;}
.lang-color-fg[srclang="markojs"]{color:#42bff2;}
.lang-color-fg[srclang="mask"]{color:#f97732;}
.lang-color-fg[srclang="mathematica"]{color:#dd1100;}
.lang-color-fg[srclang="mma"]{color:#dd1100;}
.lang-color-fg[srclang="wolfram"]{color:#dd1100;}
.lang-color-fg[srclang="wolfram language"]{color:#dd1100;}
.lang-color-fg[srclang="wolfram lang"]{color:#dd1100;}
.lang-color-fg[srclang="wl"]{color:#dd1100;}
.lang-color-fg[srclang="max"]{color:#c4a79c;}
.lang-color-fg[srclang="max/msp"]{color:#c4a79c;}
.lang-color-fg[srclang="maxmsp"]{color:#c4a79c;}
.lang-color-fg[srclang="mercury"]{color:#ff2b2b;}
.lang-color-fg[srclang="mermaid"]{color:#ff3670;}
.lang-color-fg[srclang="mermaid example"]{color:#ff3670;}
.lang-color-fg[srclang="meson"]{color:#007800;}
.lang-color-fg[srclang="metal"]{color:#8f14e9;}
.lang-color-fg[srclang="miniyaml"]{color:#ff1111;}
.lang-color-fg[srclang="mint"]{color:#02b046;}
.lang-color-fg[srclang="mirah"]{color:#c7a938;}
.lang-color-fg[srclang="modelica"]{color:#de1d31;}
.lang-color-fg[srclang="modula-2"]{color:#10253f;}
.lang-color-fg[srclang="modula-3"]{color:#223388;}
.lang-color-fg[srclang="monkey c"]{color:#8D6747;}
.lang-color-fg[srclang="moonscript"]{color:#ff4585;}
.lang-color-fg[srclang="motoko"]{color:#fbb03b;}
.lang-color-fg[srclang="motorola 68k assembly"]{color:#005daa;}
.lang-color-fg[srclang="m68k"]{color:#005daa;}
.lang-color-fg[srclang="move"]{color:#4a137a;}
.lang-color-fg[srclang="mustache"]{color:#724b3b;}
.lang-color-fg[srclang="ncl"]{color:#28431f;}
.lang-color-fg[srclang="npm config"]{color:#cb3837;}
.lang-color-fg[srclang="npmrc"]{color:#cb3837;}
.lang-color-fg[srclang="nwscript"]{color:#111522;}
.lang-color-fg[srclang="nasal"]{color:#1d2c4e;}
.lang-color-fg[srclang="nearley"]{color:#990000;}
.lang-color-fg[srclang="nemerle"]{color:#3d3c6e;}
.lang-color-fg[srclang="netlinx"]{color:#0aa0ff;}
.lang-color-fg[srclang="netlinx+erb"]{color:#747faa;}
.lang-color-fg[srclang="netlogo"]{color:#ff6375;}
.lang-color-fg[srclang="newlisp"]{color:#87AED7;}
.lang-color-fg[srclang="nextflow"]{color:#3ac486;}
.lang-color-fg[srclang="nginx"]{color:#009639;}
.lang-color-fg[srclang="nginx configuration file"]{color:#009639;}
.lang-color-fg[srclang="nim"]{color:#ffc200;}
.lang-color-fg[srclang="nit"]{color:#009917;}
.lang-color-fg[srclang="nix"]{color:#7e7eff;}
.lang-color-fg[srclang="nixos"]{color:#7e7eff;}
.lang-color-fg[srclang="nu"]{color:#c9df40;}
.lang-color-fg[srclang="nush"]{color:#c9df40;}
.lang-color-fg[srclang="numpy"]{color:#9C8AF9;}
.lang-color-fg[srclang="nunjucks"]{color:#3d8137;}
.lang-color-fg[srclang="njk"]{color:#3d8137;}
.lang-color-fg[srclang="nushell"]{color:#4E9906;}
.lang-color-fg[srclang="nu-script"]{color:#4E9906;}
.lang-color-fg[srclang="nushell-script"]{color:#4E9906;}
.lang-color-fg[srclang="oasv2-json"]{color:#85ea2d;}
.lang-color-fg[srclang="oasv2-yaml"]{color:#85ea2d;}
.lang-color-fg[srclang="oasv3-json"]{color:#85ea2d;}
.lang-color-fg[srclang="oasv3-yaml"]{color:#85ea2d;}
.lang-color-fg[srclang="ocaml"]{color:#ef7a08;}
.lang-color-fg[srclang="objectscript"]{color:#424893;}
.lang-color-fg[srclang="objective-c"]{color:#438eff;}
.lang-color-fg[srclang="obj-c"]{color:#438eff;}
.lang-color-fg[srclang="objc"]{color:#438eff;}
.lang-color-fg[srclang="objectivec"]{color:#438eff;}
.lang-color-fg[srclang="objective-c++"]{color:#6866fb;}
.lang-color-fg[srclang="obj-c++"]{color:#6866fb;}
.lang-color-fg[srclang="objc++"]{color:#6866fb;}
.lang-color-fg[srclang="objectivec++"]{color:#6866fb;}
.lang-color-fg[srclang="objective-j"]{color:#ff0c5a;}
.lang-color-fg[srclang="obj-j"]{color:#ff0c5a;}
.lang-color-fg[srclang="objectivej"]{color:#ff0c5a;}
.lang-color-fg[srclang="objj"]{color:#ff0c5a;}
.lang-color-fg[srclang="odin"]{color:#60AFFE;}
.lang-color-fg[srclang="odinlang"]{color:#60AFFE;}
.lang-color-fg[srclang="odin-lang"]{color:#60AFFE;}
.lang-color-fg[srclang="omgrofl"]{color:#cabbff;}
.lang-color-fg[srclang="opal"]{color:#f7ede0;}
.lang-color-fg[srclang="open policy agent"]{color:#7d9199;}
.lang-color-fg[srclang="openapi specification v2"]{color:#85ea2d;}
.lang-color-fg[srclang="oasv2"]{color:#85ea2d;}
.lang-color-fg[srclang="openapi specification v3"]{color:#85ea2d;}
.lang-color-fg[srclang="oasv3"]{color:#85ea2d;}
.lang-color-fg[srclang="opencl"]{color:#ed2e2d;}
.lang-color-fg[srclang="openedge abl"]{color:#5ce600;}
.lang-color-fg[srclang="progress"]{color:#5ce600;}
.lang-color-fg[srclang="openedge"]{color:#5ce600;}
.lang-color-fg[srclang="abl"]{color:#5ce600;}
.lang-color-fg[srclang="openqasm"]{color:#AA70FF;}
.lang-color-fg[srclang="openscad"]{color:#e5cd45;}
.lang-color-fg[srclang="option list"]{color:#476732;}
.lang-color-fg[srclang="opts"]{color:#476732;}
.lang-color-fg[srclang="ackrc"]{color:#476732;}
.lang-color-fg[srclang="org"]{color:#77aa99;}
.lang-color-fg[srclang="oxygene"]{color:#cdd0e3;}
.lang-color-fg[srclang="oz"]{color:#fab738;}
.lang-color-fg[srclang="p4"]{color:#7055b5;}
.lang-color-fg[srclang="pddl"]{color:#0d00ff;}
.lang-color-fg[srclang="peg.js"]{color:#234d6b;}
.lang-color-fg[srclang="php"]{color:#4F5D95;}
.lang-color-fg[srclang="inc"]{color:#4F5D95;}
.lang-color-fg[srclang="plsql"]{color:#dad8d8;}
.lang-color-fg[srclang="plpgsql"]{color:#336790;}
.lang-color-fg[srclang="pov-ray sdl"]{color:#6bac65;}
.lang-color-fg[srclang="pov-ray"]{color:#6bac65;}
.lang-color-fg[srclang="povray"]{color:#6bac65;}
.lang-color-fg[srclang="pact"]{color:#F7A8B8;}
.lang-color-fg[srclang="pan"]{color:#cc0000;}
.lang-color-fg[srclang="papyrus"]{color:#6600cc;}
.lang-color-fg[srclang="parrot"]{color:#f3ca0a;}
.lang-color-fg[srclang="pascal"]{color:#E3F171;}
.lang-color-fg[srclang="delphi"]{color:#E3F171;}
.lang-color-fg[srclang="objectpascal"]{color:#E3F171;}
.lang-color-fg[srclang="pawn"]{color:#dbb284;}
.lang-color-fg[srclang="pep8"]{color:#C76F5B;}
.lang-color-fg[srclang="perl"]{color:#0298c3;}
.lang-color-fg[srclang="cperl"]{color:#0298c3;}
.lang-color-fg[srclang="picolisp"]{color:#6067af;}
.lang-color-fg[srclang="piglatin"]{color:#fcd7de;}
.lang-color-fg[srclang="pike"]{color:#005390;}
.lang-color-fg[srclang="plantuml"]{color:#fbbd16;}
.lang-color-fg[srclang="pogoscript"]{color:#d80074;}
.lang-color-fg[srclang="polar"]{color:#ae81ff;}
.lang-color-fg[srclang="portugol"]{color:#f8bd00;}
.lang-color-fg[srclang="postcss"]{color:#dc3a0c;}
.lang-color-fg[srclang="postscript"]{color:#da291c;}
.lang-color-fg[srclang="postscr"]{color:#da291c;}
.lang-color-fg[srclang="powerbuilder"]{color:#8f0f8d;}
.lang-color-fg[srclang="powershell"]{color:#012456;}
.lang-color-fg[srclang="posh"]{color:#012456;}
.lang-color-fg[srclang="pwsh"]{color:#012456;}
.lang-color-fg[srclang="prisma"]{color:#0c344b;}
.lang-color-fg[srclang="processing"]{color:#0096D8;}
.lang-color-fg[srclang="procfile"]{color:#3B2F63;}
.lang-color-fg[srclang="prolog"]{color:#74283c;}
.lang-color-fg[srclang="promela"]{color:#de0000;}
.lang-color-fg[srclang="propeller spin"]{color:#7fa2a7;}
.lang-color-fg[srclang="pug"]{color:#a86454;}
.lang-color-fg[srclang="puppet"]{color:#302B6D;}
.lang-color-fg[srclang="purebasic"]{color:#5a6986;}
.lang-color-fg[srclang="purescript"]{color:#1D222D;}
.lang-color-fg[srclang="pyret"]{color:#ee1e10;}
.lang-color-fg[srclang="python"]{color:#3572A5;}
.lang-color-fg[srclang="python3"]{color:#3572A5;}
.lang-color-fg[srclang="rusthon"]{color:#3572A5;}
.lang-color-fg[srclang="python console"]{color:#3572A5;}
.lang-color-fg[srclang="pycon"]{color:#3572A5;}
.lang-color-fg[srclang="python traceback"]{color:#3572A5;}
.lang-color-fg[srclang="q#"]{color:#fed659;}
.lang-color-fg[srclang="qsharp"]{color:#fed659;}
.lang-color-fg[srclang="qml"]{color:#44a51c;}
.lang-color-fg[srclang="qt script"]{color:#00b841;}
.lang-color-fg[srclang="quake"]{color:#882233;}
.lang-color-fg[srclang="r"]{color:#198CE7;}
.lang-color-fg[srclang="R"]{color:#198CE7;}
.lang-color-fg[srclang="Rscript"]{color:#198CE7;}
.lang-color-fg[srclang="splus"]{color:#198CE7;}
.lang-color-fg[srclang="raml"]{color:#77d9fb;}
.lang-color-fg[srclang="rbs"]{color:#701516;}
.lang-color-fg[srclang="rdoc"]{color:#701516;}
.lang-color-fg[srclang="rexx"]{color:#d90e09;}
.lang-color-fg[srclang="arexx"]{color:#d90e09;}
.lang-color-fg[srclang="rmarkdown"]{color:#198ce7;}
.lang-color-fg[srclang="rpgle"]{color:#2BDE21;}
.lang-color-fg[srclang="ile rpg"]{color:#2BDE21;}
.lang-color-fg[srclang="sqlrpgle"]{color:#2BDE21;}
.lang-color-fg[srclang="runoff"]{color:#665a4e;}
.lang-color-fg[srclang="racket"]{color:#3c5caa;}
.lang-color-fg[srclang="ragel"]{color:#9d5200;}
.lang-color-fg[srclang="ragel-rb"]{color:#9d5200;}
.lang-color-fg[srclang="ragel-ruby"]{color:#9d5200;}
.lang-color-fg[srclang="raku"]{color:#0000fb;}
.lang-color-fg[srclang="perl6"]{color:#0000fb;}
.lang-color-fg[srclang="perl-6"]{color:#0000fb;}
.lang-color-fg[srclang="rascal"]{color:#fffaa0;}
.lang-color-fg[srclang="rescript"]{color:#ed5051;}
.lang-color-fg[srclang="reason"]{color:#ff5847;}
.lang-color-fg[srclang="reasonligo"]{color:#ff5847;}
.lang-color-fg[srclang="rebol"]{color:#358a5b;}
.lang-color-fg[srclang="record jar"]{color:#0673ba;}
.lang-color-fg[srclang="red"]{color:#f50000;}
.lang-color-fg[srclang="red/system"]{color:#f50000;}
.lang-color-fg[srclang="regular expression"]{color:#009a00;}
.lang-color-fg[srclang="regexp"]{color:#009a00;}
.lang-color-fg[srclang="regex"]{color:#009a00;}
.lang-color-fg[srclang="ren'py"]{color:#ff7f7f;}
.lang-color-fg[srclang="renpy"]{color:#ff7f7f;}
.lang-color-fg[srclang="ring"]{color:#2D54CB;}
.lang-color-fg[srclang="riot"]{color:#A71E49;}
.lang-color-fg[srclang="robotframework"]{color:#00c0b5;}
.lang-color-fg[srclang="roff"]{color:#ecdebe;}
.lang-color-fg[srclang="groff"]{color:#ecdebe;}
.lang-color-fg[srclang="man"]{color:#ecdebe;}
.lang-color-fg[srclang="manpage"]{color:#ecdebe;}
.lang-color-fg[srclang="man page"]{color:#ecdebe;}
.lang-color-fg[srclang="man-page"]{color:#ecdebe;}
.lang-color-fg[srclang="mdoc"]{color:#ecdebe;}
.lang-color-fg[srclang="nroff"]{color:#ecdebe;}
.lang-color-fg[srclang="troff"]{color:#ecdebe;}
.lang-color-fg[srclang="roff manpage"]{color:#ecdebe;}
.lang-color-fg[srclang="rouge"]{color:#cc0088;}
.lang-color-fg[srclang="routeros script"]{color:#DE3941;}
.lang-color-fg[srclang="ruby"]{color:#701516;}
.lang-color-fg[srclang="jruby"]{color:#701516;}
.lang-color-fg[srclang="macruby"]{color:#701516;}
.lang-color-fg[srclang="rake"]{color:#701516;}
.lang-color-fg[srclang="rb"]{color:#701516;}
.lang-color-fg[srclang="rbx"]{color:#701516;}
.lang-color-fg[srclang="rust"]{color:#dea584;}
.lang-color-fg[srclang="rs"]{color:#dea584;}
.lang-color-fg[srclang="sas"]{color:#B34936;}
.lang-color-fg[srclang="scss"]{color:#c6538c;}
.lang-color-fg[srclang="sparql"]{color:#0C4597;}
.lang-color-fg[srclang="sqf"]{color:#3F3F3F;}
.lang-color-fg[srclang="sql"]{color:#e38c00;}
.lang-color-fg[srclang="sqlpl"]{color:#e38c00;}
.lang-color-fg[srclang="srecode template"]{color:#348a34;}
.lang-color-fg[srclang="stl"]{color:#373b5e;}
.lang-color-fg[srclang="ascii stl"]{color:#373b5e;}
.lang-color-fg[srclang="stla"]{color:#373b5e;}
.lang-color-fg[srclang="svg"]{color:#ff9900;}
.lang-color-fg[srclang="saltstack"]{color:#646464;}
.lang-color-fg[srclang="saltstate"]{color:#646464;}
.lang-color-fg[srclang="salt"]{color:#646464;}
.lang-color-fg[srclang="sass"]{color:#a53b70;}
.lang-color-fg[srclang="scala"]{color:#c22d40;}
.lang-color-fg[srclang="scaml"]{color:#bd181a;}
.lang-color-fg[srclang="scenic"]{color:#fdc700;}
.lang-color-fg[srclang="scheme"]{color:#1e4aec;}
.lang-color-fg[srclang="scilab"]{color:#ca0f21;}
.lang-color-fg[srclang="self"]{color:#0579aa;}
.lang-color-fg[srclang="shaderlab"]{color:#222c37;}
.lang-color-fg[srclang="shell"]{color:#89e051;}
.lang-color-fg[srclang="sh"]{color:#89e051;}
.lang-color-fg[srclang="shell-script"]{color:#89e051;}
.lang-color-fg[srclang="bash"]{color:#89e051;}
.lang-color-fg[srclang="zsh"]{color:#89e051;}
.lang-color-fg[srclang="shellcheck config"]{color:#cecfcb;}
.lang-color-fg[srclang="shellcheckrc"]{color:#cecfcb;}
.lang-color-fg[srclang="shen"]{color:#120F14;}
.lang-color-fg[srclang="simple file verification"]{color:#C9BFED;}
.lang-color-fg[srclang="sfv"]{color:#C9BFED;}
.lang-color-fg[srclang="singularity"]{color:#64E6AD;}
.lang-color-fg[srclang="slash"]{color:#007eff;}
.lang-color-fg[srclang="slice"]{color:#003fa2;}
.lang-color-fg[srclang="slim"]{color:#2b2b2b;}
.lang-color-fg[srclang="smpl"]{color:#c94949;}
.lang-color-fg[srclang="coccinelle"]{color:#c94949;}
.lang-color-fg[srclang="smalltalk"]{color:#596706;}
.lang-color-fg[srclang="squeak"]{color:#596706;}
.lang-color-fg[srclang="smarty"]{color:#f0c040;}
.lang-color-fg[srclang="smithy"]{color:#c44536;}
.lang-color-fg[srclang="snakemake"]{color:#419179;}
.lang-color-fg[srclang="snakefile"]{color:#419179;}
.lang-color-fg[srclang="solidity"]{color:#AA6746;}
.lang-color-fg[srclang="sourcepawn"]{color:#f69e1d;}
.lang-color-fg[srclang="sourcemod"]{color:#f69e1d;}
.lang-color-fg[srclang="squirrel"]{color:#800000;}
.lang-color-fg[srclang="stan"]{color:#b2011d;}
.lang-color-fg[srclang="standard ml"]{color:#dc566d;}
.lang-color-fg[srclang="sml"]{color:#dc566d;}
.lang-color-fg[srclang="starlark"]{color:#76d275;}
.lang-color-fg[srclang="bazel"]{color:#76d275;}
.lang-color-fg[srclang="bzl"]{color:#76d275;}
.lang-color-fg[srclang="stata"]{color:#1a5f91;}
.lang-color-fg[srclang="stringtemplate"]{color:#3fb34f;}
.lang-color-fg[srclang="stylus"]{color:#ff6347;}
.lang-color-fg[srclang="subrip text"]{color:#9e0101;}
.lang-color-fg[srclang="sugarss"]{color:#2fcc9f;}
.lang-color-fg[srclang="supercollider"]{color:#46390b;}
.lang-color-fg[srclang="svelte"]{color:#ff3e00;}
.lang-color-fg[srclang="sway"]{color:#dea584;}
.lang-color-fg[srclang="swift"]{color:#F05138;}
.lang-color-fg[srclang="systemverilog"]{color:#DAE1C2;}
.lang-color-fg[srclang="ti program"]{color:#A0AA87;}
.lang-color-fg[srclang="tl-verilog"]{color:#C40023;}
.lang-color-fg[srclang="tla"]{color:#4b0079;}
.lang-color-fg[srclang="toml"]{color:#9c4221;}
.lang-color-fg[srclang="tsql"]{color:#e38c00;}
.lang-color-fg[srclang="tsv"]{color:#237346;}
.lang-color-fg[srclang="tsx"]{color:#3178c6;}
.lang-color-fg[srclang="txl"]{color:#0178b8;}
.lang-color-fg[srclang="talon"]{color:#333333;}
.lang-color-fg[srclang="tcl"]{color:#e4cc98;}
.lang-color-fg[srclang="sdc"]{color:#e4cc98;}
.lang-color-fg[srclang="xdc"]{color:#e4cc98;}
.lang-color-fg[srclang="tex"]{color:#3D6117;}
.lang-color-fg[srclang="latex"]{color:#3D6117;}
.lang-color-fg[srclang="terra"]{color:#00004c;}
.lang-color-fg[srclang="textmate properties"]{color:#df66e4;}
.lang-color-fg[srclang="tm-properties"]{color:#df66e4;}
.lang-color-fg[srclang="textile"]{color:#ffe7ac;}
.lang-color-fg[srclang="thrift"]{color:#D12127;}
.lang-color-fg[srclang="turing"]{color:#cf142b;}
.lang-color-fg[srclang="twig"]{color:#c1d026;}
.lang-color-fg[srclang="typescript"]{color:#3178c6;}
.lang-color-fg[srclang="ts"]{color:#3178c6;}
.lang-color-fg[srclang="unified parallel c"]{color:#4e3617;}
.lang-color-fg[srclang="unity3d asset"]{color:#222c37;}
.lang-color-fg[srclang="uno"]{color:#9933cc;}
.lang-color-fg[srclang="unrealscript"]{color:#a54c4d;}
.lang-color-fg[srclang="urweb"]{color:#ccccee;}
.lang-color-fg[srclang="Ur/Web"]{color:#ccccee;}
.lang-color-fg[srclang="Ur"]{color:#ccccee;}
.lang-color-fg[srclang="v"]{color:#4f87c4;}
.lang-color-fg[srclang="vlang"]{color:#4f87c4;}
.lang-color-fg[srclang="vba"]{color:#867db1;}
.lang-color-fg[srclang="visual basic for applications"]{color:#867db1;}
.lang-color-fg[srclang="vbscript"]{color:#15dcdc;}
.lang-color-fg[srclang="vcl"]{color:#148AA8;}
.lang-color-fg[srclang="vhdl"]{color:#adb2cb;}
.lang-color-fg[srclang="vala"]{color:#a56de2;}
.lang-color-fg[srclang="valve data format"]{color:#f26025;}
.lang-color-fg[srclang="keyvalues"]{color:#f26025;}
.lang-color-fg[srclang="vdf"]{color:#f26025;}
.lang-color-fg[srclang="velocity template language"]{color:#507cff;}
.lang-color-fg[srclang="vtl"]{color:#507cff;}
.lang-color-fg[srclang="velocity"]{color:#507cff;}
.lang-color-fg[srclang="verilog"]{color:#b2b7f8;}
.lang-color-fg[srclang="vim help file"]{color:#199f4b;}
.lang-color-fg[srclang="help"]{color:#199f4b;}
.lang-color-fg[srclang="vimhelp"]{color:#199f4b;}
.lang-color-fg[srclang="vim script"]{color:#199f4b;}
.lang-color-fg[srclang="vim"]{color:#199f4b;}
.lang-color-fg[srclang="viml"]{color:#199f4b;}
.lang-color-fg[srclang="nvim"]{color:#199f4b;}
.lang-color-fg[srclang="vim snippet"]{color:#199f4b;}
.lang-color-fg[srclang="SnipMate"]{color:#199f4b;}
.lang-color-fg[srclang="UltiSnip"]{color:#199f4b;}
.lang-color-fg[srclang="UltiSnips"]{color:#199f4b;}
.lang-color-fg[srclang="NeoSnippet"]{color:#199f4b;}
.lang-color-fg[srclang="visual basic .net"]{color:#945db7;}
.lang-color-fg[srclang="visual basic"]{color:#945db7;}
.lang-color-fg[srclang="vbnet"]{color:#945db7;}
.lang-color-fg[srclang="vb .net"]{color:#945db7;}
.lang-color-fg[srclang="vb.net"]{color:#945db7;}
.lang-color-fg[srclang="visual basic 6.0"]{color:#2c6353;}
.lang-color-fg[srclang="vb6"]{color:#2c6353;}
.lang-color-fg[srclang="vb 6"]{color:#2c6353;}
.lang-color-fg[srclang="visual basic 6"]{color:#2c6353;}
.lang-color-fg[srclang="visual basic classic"]{color:#2c6353;}
.lang-color-fg[srclang="classic visual basic"]{color:#2c6353;}
.lang-color-fg[srclang="volt"]{color:#1F1F1F;}
.lang-color-fg[srclang="vue"]{color:#41b883;}
.lang-color-fg[srclang="vyper"]{color:#2980b9;}
.lang-color-fg[srclang="wdl"]{color:#42f1f4;}
.lang-color-fg[srclang="Workflow Description Language"]{color:#42f1f4;}
.lang-color-fg[srclang="wgsl"]{color:#1a5e9a;}
.lang-color-fg[srclang="web ontology language"]{color:#5b70bd;}
.lang-color-fg[srclang="webassembly"]{color:#04133b;}
.lang-color-fg[srclang="wast"]{color:#04133b;}
.lang-color-fg[srclang="wasm"]{color:#04133b;}
.lang-color-fg[srclang="webassembly interface type"]{color:#6250e7;}
.lang-color-fg[srclang="wit"]{color:#6250e7;}
.lang-color-fg[srclang="whiley"]{color:#d5c397;}
.lang-color-fg[srclang="wikitext"]{color:#fc5757;}
.lang-color-fg[srclang="mediawiki"]{color:#fc5757;}
.lang-color-fg[srclang="wiki"]{color:#fc5757;}
.lang-color-fg[srclang="windows registry entries"]{color:#52d5ff;}
.lang-color-fg[srclang="witcher script"]{color:#ff0000;}
.lang-color-fg[srclang="wollok"]{color:#a23738;}
.lang-color-fg[srclang="world of warcraft addon data"]{color:#f7e43f;}
.lang-color-fg[srclang="wren"]{color:#383838;}
.lang-color-fg[srclang="wrenlang"]{color:#383838;}
.lang-color-fg[srclang="x10"]{color:#4B6BEF;}
.lang-color-fg[srclang="xten"]{color:#4B6BEF;}
.lang-color-fg[srclang="xc"]{color:#99DA07;}
.lang-color-fg[srclang="xml"]{color:#0060ac;}
.lang-color-fg[srclang="rss"]{color:#0060ac;}
.lang-color-fg[srclang="xsd"]{color:#0060ac;}
.lang-color-fg[srclang="wsdl"]{color:#0060ac;}
.lang-color-fg[srclang="xml property list"]{color:#0060ac;}
.lang-color-fg[srclang="xquery"]{color:#5232e7;}
.lang-color-fg[srclang="xslt"]{color:#EB8CEB;}
.lang-color-fg[srclang="xsl"]{color:#EB8CEB;}
.lang-color-fg[srclang="xojo"]{color:#81bd41;}
.lang-color-fg[srclang="xonsh"]{color:#285EEF;}
.lang-color-fg[srclang="xtend"]{color:#24255d;}
.lang-color-fg[srclang="yaml"]{color:#cb171e;}
.lang-color-fg[srclang="yml"]{color:#cb171e;}
.lang-color-fg[srclang="yara"]{color:#220000;}
.lang-color-fg[srclang="yasnippet"]{color:#32AB90;}
.lang-color-fg[srclang="snippet"]{color:#32AB90;}
.lang-color-fg[srclang="yas"]{color:#32AB90;}
.lang-color-fg[srclang="yacc"]{color:#4B6C4B;}
.lang-color-fg[srclang="yul"]{color:#794932;}
.lang-color-fg[srclang="zap"]{color:#0d665e;}
.lang-color-fg[srclang="zil"]{color:#dc75e5;}
.lang-color-fg[srclang="zenscript"]{color:#00BCD1;}
.lang-color-fg[srclang="zephir"]{color:#118f9e;}
.lang-color-fg[srclang="zig"]{color:#ec915c;}
.lang-color-fg[srclang="zimpl"]{color:#d67711;}
.lang-color-fg[srclang="ec"]{color:#913960;}
.lang-color-fg[srclang="fish"]{color:#4aae47;}
.lang-color-fg[srclang="hoon"]{color:#00b171;}
.lang-color-fg[srclang="jq"]{color:#c7254e;}
.lang-color-fg[srclang="kvlang"]{color:#1da6e0;}
.lang-color-fg[srclang="mirc script"]{color:#3d57c3;}
.lang-color-fg[srclang="mcfunction"]{color:#E22837;}
.lang-color-fg[srclang="mupad"]{color:#244963;}
.lang-color-fg[srclang="nanorc"]{color:#2d004d;}
.lang-color-fg[srclang="nesc"]{color:#94B0C7;}
.lang-color-fg[srclang="ooc"]{color:#b0b77e;}
.lang-color-fg[srclang="q"]{color:#0040cd;}
.lang-color-fg[srclang="restructuredtext"]{color:#141414;}
.lang-color-fg[srclang="rst"]{color:#141414;}
.lang-color-fg[srclang="sed"]{color:#64b970;}
.lang-color-fg[srclang="wisp"]{color:#7582D1;}
.lang-color-fg[srclang="xbase"]{color:#403a40;}
.lang-color-fg[srclang="advpl"]{color:#403a40;}
.lang-color-fg[srclang="clipper"]{color:#403a40;}
.lang-color-fg[srclang="foxpro"]{color:#403a40;}
